[2014-08-03 09:55] Winangel opened #13 "Support for shortcode messages"
Hello,

Is there any plan to support nexmo shortcodes in the future ?

[2015-04-14 13:12] dorshay6 opened #16 "problam on ver 0.6"
when i tried to update to version 0.6 the first sms worked fine but all the other send to the same number of the first sms and with the option i provided in the end of the sms text.

[2015-04-14 15:05] pvela commented on #16
could you please turn the debugon and paste the output.

The 4th parameter to the initialize function set the debug. for ex :
nexmo.initialize("key","secret","https",true);

Also if possible paste the the code that you are using to send SMS message using the previously initialized nexmo object.

[2015-04-20 07:06] ashoksahoo commented on #16
+1
`sending message from XXXXXXXXX to +917093245428 with message Don't pay for SMS anymore. Download Mara Messenger to enjoy cool features like free outgoing SMS, doodle, chat & lots more.
sent by ashok via Mara Messenger
http://goo.gl/vKni5V
{ host: 'rest.nexmo.com',
  port: 80,
  path: '/sms/json?from=XXXXXXXXXX&to=%2B917093245428&text=Don\'t%20pay%20for%20SMS%20anymore.%20Download%20Mara%20Mess

[2015-04-20 08:11] ashoksahoo commented on #16
`var path = msgpath; ` on line 134 breaks it.
This is a shallow copy which breaks the API path..A deep copy should work..

[2015-04-20 15:16] pvela commented on #16
This issue is fixed in 0.6.2 release.

[2015-04-20 15:16] #16 closed

[2015-07-31 10:23] romain10009 opened #18 "Using nexmo sandbox!"
Hi, is there a way to make the request of the library go to
http://rest-sandbox.nexmo.com ?
I didn't see any mention about this. But in test environement i need to try out my logic before making actual requests.

[2015-08-01 20:44] romain10009 commented on #18
ok i'm branching out. I will do some testing and contribute.

[2015-09-18 10:57] mrsunlin opened #20 "debugon"
There is a bug in file lib/nexmo.js, line 72. When debugon is undefined, it can't be stringified

[2015-09-21 22:37] pvela commented on #20
Thanks @benf86 This issue is fixed now.

[2015-09-21 22:37] #20 closed

[2015-10-06 15:48] romain10009 commented on #18
after some tests, it looks that nexmo has very poor support (doesnt care?) about their sandbox. It's impossible to buy a "sandbox" phone number. So I stopped developpement and simply created another account for my testing environment.

[2015-10-08 13:52] passkey1510 opened #22 "Is there a reason that you do not expose the module via module.exports?"
Since most of the libraries use module.exports so that we could easily import via a simple require, I don't know if there are particular reasons that you don't do that. Consequently, I have to import it by specifying the absolute path, such as:
[code]

This is not very convenient since I have to change this each time I move the module that use nexmo.

Thanks

[2015-10-08 14:00] passkey1510 commented on #22
Oh nevermind, the right syntax to include the module was
[code]

I still think it worth mentioning in the doc :). I'm closing this issue!

[2015-10-08 14:00] #22 closed

[2015-10-08 15:24] pvela commented on #22
Thanks for the suggestion. The readme is updated.

[2015-11-23 10:33] skolesnyk opened #24 "getPricing for outbound voice calls"
Would you implement this call in the library ?

https://docs.nexmo.com/api-ref/developer-api/account-pricing

[2015-11-24 21:42] ecwyne opened #25 "Change default to https"
Per https://help.nexmo.com/hc/en-us/articles/213877768-Enforcing-mandatory-use-of-secure-HTTP-HTTPS-on-Dec-15th-2015

[2015-11-25 03:10] damienwhaley commented on #25
I've just made a pull request for this. See https://github.com/pvela/nexmo/pull/26

[2015-11-25 13:48] pvela commented on #25
Thanks to @damienwhaley, this issue is closed.

[2015-11-25 13:48] #25 closed

[2015-12-10 11:35] avl055 commented on #18
Our sandbox was in the "Labs" (experimental) section of our site before, so there were features still being tweaked. Right now it's been moved to the main docs and we are ensuring that is fully operational.
Please have a look here:
https://docs.nexmo.com/api-ref/nexmo-sandbox
We'll make sure to promptly fix any issues you might encounter!

[2015-12-11 08:28] taymoork2 opened #28 "Need to know the proper way to implement numberInsight and the callback"
I'm currently stuck trying to implement the callback for the numberInsight API
I'm "new" to javascript and express so any help would be much appreciated
I need to use the api to extract the city data from phone number when they text in and i'm getting stuck at the callback portion :(

[2015-12-14 15:56] huttotw commented on #13
I will work on this.

[2015-12-19 07:14] ajay67 opened #30 "."
wrong issue reported by me. want to remove but unable to do this

[2015-12-19 14:48] ajay67 commented on #30
wrongly reported which realised later. so closing this

[2015-12-19 14:48] #30 closed

[2016-02-15 18:21] wertlex opened #31 "Why singleton?"
How to deal with two nexmo accounts or several instances for different purposes?
Is it solution by design or am I missing something?

Why not just:

    const myNexmo1 = new Nexmo(key1, secret1);
    const myNexmo2 = new Nexmo(key2, secret2);

[2016-02-15 21:34] pvela commented on #31
Technically it doesn't have to be a singleton. I will plan on changing this in a future release. In the mean time below is the workaround for you to try.

[code]
 I dont personally like this but something to get you going while I get this change done.

[2016-02-16 06:47] wertlex commented on #31
@pvela any help required?

[2016-02-29 07:03] diegoaguilar opened #32 "SMS not being sent"
So, I have credits in my nexmo account, I'm trying to send an SMS and with `debug` mode on, I can see:

[code]
I've confirmed the api key and the api secret, but any SMS is being sent. Suggestions?

[2016-03-01 04:31] pvela commented on #32
What "FROM" number are you using to send this message?

Some of the constraints to be aware of :

- The from number should be a registered nexmo number
- From the api docs https://developers.nexmo.com/Quickstarts/sms/send/

[2016-03-01 06:22] diegoaguilar commented on #32
Well I'm using a placeholder text as the "FROM" number, and eventhough I've not purchased any numbers, I've already bought credits.

I achieved sending SMS with this code:

[code]

[2016-03-02 06:29] pvela commented on #32
Are you saying that you were able to send a message using the direct API call and its not working with the NPM package easynexmo with the same set of parameters (key, secret, from and to)?

[2016-03-02 15:10] diegoaguilar commented on #32
Yep, exactly that :(
On Mar 2, 2016 12:29 AM, "prabhu" <notifications@github.com> wrote:

[2016-03-09 00:10] diegoaguilar commented on #32
@pvela any opinions or suggestions?

[2016-03-10 12:38] danilvalov opened #33 "Throughput Rate Exceeded error"
Hi.
All our accounts are set with 30 SMS per second cap. Except US and Canada with long virtual numbers limited to 1 SMS per second. Or we'll see:
[code]
About it: https://help.nexmo.com/hc/en-us/articles/203993598-What-is-the-Throughput-Limit-for-Outbound-SMS-
Please, add support of queue for sending sms.

Thank you.

[2016-03-17 07:02] pvela commented on #32
@diegoaguilar Tried many times but couldn't replicate the problem. After taking a closer look at your output from the initial paste it looks like you are connecting to port 80, which is not the correct port to connect to. Can you verify if you are using the latest version of the library and check if you have overwritten the port from 443 to 80.

[2016-04-07 15:11] lutfor3737 opened #37 "sendTextMessage is not working"
I am implementing this in my hapi application. sendMessage is working fine, but sendTextMessage is not working.
var nexmo = require('easynexmo');
nexmo.initialize('KEY', 'SECRET');
function consolelog (err,messageResponse) {
if (err) {
            console.log(err);
    } else {
            console.log(messageResponse);
    }
}
nexmo.sendTextMessage(XXXXXXXXXXX,YYYYYYYYYY,'Test Meessage',consolelog

[2016-04-08 04:30] pvela commented on #37
There is a 4th parameter in sendTextMessage method to send any additional options to the API. I made this parameter optional in the new version published today, please give this a try in the new version and let me know how it goes.

Thanks for raising this issue and helping in improving the library.

[2016-04-08 16:09] lutfor3737 commented on #37
It's working perfectly. Thanks for quick fix.

[2016-04-13 02:19] #37 closed

[2016-04-13 03:27] #32 closed

[2016-04-25 23:07] leggetter opened #39 "From v1.0 update package to be `nexmo` in NPM"
Nexmo now has access to the `nexmo` package.

Suggested plan:

* Mark `easynexmo` as deprecated https://docs.npmjs.com/cli/deprecate
* Publish v1.0 of this repo as `nexmo`

Any concerns or thoughts regarding this approach?

[2016-04-25 23:22] pvela commented on #39
This sounds like a good plan. I dont see any concerns with this approach.

[2016-04-25 23:24] leggetter commented on #31
@pvela @wertlex - I've experimented in a branch that does a few things:

1. Moves to ES2015 and uses Babel transpilation
2. Moves towards a non-singleton API, but still uses the singleton within the `Nexmo` instance for now
3. Makes a start towards having functions live on related namespaces as per `Must be namespaced by concept` in the WiP (work in progress) library spec https://github.com/Nexmo/

[2016-04-27 06:27] pvela commented on #31
I am ok to move to ES2015. Thats the future 👍 .
I started doing a big bang approach in the old repo, but didn't make much progress. Having thought about it and made some initial design I can say for sure that its a good idea to take an incremental approach.

[2016-04-29 14:47] cbetta opened #40 "Better way to catch authentication errors?"
Is there a better way to catch authentication errors? At the moment if I run `nexmo.initialize(...)` with incorrect credentials the callback for a method does NOT return an `error` object. Instead the `response` object looks as follows:

[code]

There's a few things that would be useful here.
1. Catch authentication errors and actually return an error object instead of a response in an API call.
2

[2016-04-29 14:51] leggetter commented on #40
Thanks for this @cbetta.

@tjlytle is working on a library spec to make libraries work consistently. There are also something the libraries should do to work around some API behaviours such as this.

The spec can be found here:
https://github.com/Nexmo/client-library-specification

I think [the Errors section](https://github.com/Nexmo/client-library-specification/blob/master/SPECIFICATION.md#error

[2016-04-29 15:07] tjlytle commented on #40
I would not check credentials on construction, as that would required an API call, and it's:
- Expensive (in terms of time)
- Unexpected (if I start getting auth errors, and I've now even making a request, I'm confused).

That said, the root of this is the API returning a `200` status for something that's certainly not `ok`. The spec doesn't address the specifics of this, but libraries should unif

[2016-04-29 15:13] cbetta commented on #40
Agreed with @tjlytle about it not running by default, that's definitely not the intended behaviour.

[2016-04-29 15:28] tjlytle commented on #40
Spec on [errors specifically](https://github.com/Nexmo/client-library-specification/blob/master/SPECIFICATION.md#errors), and [PR that addresses some of the underlying issue](https://github.com/Nexmo/client-library-specification/pull/7).

[2016-04-29 15:29] leggetter commented on #40
I meant check that the credentials have been supplied - not that they existing within the Nexmo platform e.g. check for empty strings, null/undefined values and so on.

[2016-04-29 15:31] tjlytle commented on #40
Definitly, from the spec:

[2016-05-04 11:55] cbetta opened #41 "Add pagination to nexmo.getNumbers"
Currently this doesn't support pagination but the API does.

[2016-05-04 12:48] cbetta opened #42 "Runtime error using searchNumbers"
I'm getting an error on this line: https://github.com/Nexmo/nexmo-node/blob/9136d8471ea27487bdec95f1bdd78261a1afe621/lib/nexmo.js#L290

[code]

Seems arg should be declared earlier or inline to be valid JS.

[2016-05-04 15:07] cbetta opened #44 "Runtime error in cancelNumber"
Getting a `SyntaxError: Unexpected end of JSON input` due to this line: https://github.com/Nexmo/nexmo-node/blob/master/lib/nexmo.js#L319

[2016-05-04 17:36] #42 closed

[2016-05-04 17:38] #44 closed

[2016-05-05 22:45] pvela opened #45 "Add support for calling Basic Number Insight API"
https://docs.nexmo.com/number-insight/basic

[2016-05-05 22:46] pvela opened #46 "Add support for calling Standard Number Insight API"
https://docs.nexmo.com/number-insight/standard

[2016-05-05 22:50] pvela opened #47 "Support for sending options to getNumbers and searchNumbers API"

[2016-05-05 23:02] cbetta commented on #47
Related to #41

[2016-05-08 23:43] pvela commented on #45
This is implemented in the library now.
Example usage :
nexmo.numberInsightBasic('1-234-567-8900',consolelog);

[2016-05-08 23:43] #45 closed

[2016-05-08 23:44] pvela commented on #46
This is implemented in the library now.
Example usage :
nexmo.numberInsightStandard('1-234-567-8900',consolelog);

[2016-05-08 23:44] #46 closed

[2016-05-08 23:45] pvela commented on #47
This is implemented in the latest version 0.8.0 published to npm.
Example :
nexmo.searchNumbers('US',consolelog);
nexmo.searchNumbers('US',{pattern:3049,index:1,size:2,features:'VOICE',search_pattern:2},consolelog);
nexmo.getNumbers(consolelog);
nexmo.getNumbers({pattern:714,index:1,search_pattern:2},consolelog);

[2016-05-08 23:45] #47 closed

[2016-05-08 23:46] pvela commented on #41
Implemented as part of #47

[2016-05-08 23:46] #41 closed

[2016-05-11 13:51] cbetta opened #50 "createApplication does not like spaces in the name"
[code]

[2016-05-11 16:55] #50 closed

[2016-05-21 01:34] ulion opened #56 "Implement promise styled api?"
Consider implement promise styled api?

[2016-05-24 14:24] sma202 commented on #33
Hi, I have a wait of 1 sms in my code for a long number but still get this error message.  please advise.

[2016-05-24 15:27] leggetter commented on #33
Hi @danilvalov (really sorry for the crazy delay you've seen to get a reply). Hi @sma202.

I'm sorry to say that this isn't something related to nexmo-node. It's an error response from the API and thus a platform question. The best way to get an answer to this question is by email support@nexmo.com. That's because they can look at your account and work out why you may be seeing this error.

[2016-05-24 15:27] #33 closed

[2016-06-26 23:55] lutfor3737 opened #57 "sendTextMessage to multiple numbers in a single call"
My following code is working fine for sending text message to single recipient. can i send sms to multiple numbers in a single call?

[code]

[2016-06-27 11:38] leggetter commented on #57
@lutfor3737 The underlying API does not support multiple/bulk SMS sending.

More details area available via this FAQ: https://help.nexmo.com/hc/en-us/articles/205065817-Unable-to-Send-Multiple-SMS-in-a-Single-API-Request

[2016-06-27 11:38] #57 closed

[2016-07-07 04:44] rlancer commented on #56
I would suggest if there is no callback to return a promise

[2016-09-06 23:59] leggetter commented on #39
@pvela are you happy to mark `easynexmo` as deprecated?

[2016-09-07 00:00] leggetter commented on #31
We are moving away from the singleton approach. Closing this question as answered.

[2016-09-07 00:00] #31 closed

[2016-09-07 00:01] leggetter commented on #28
@taymoork2 closing this as it's an old query. Sorry nobody responded to you. But please do reopen if you still have this question.

[2016-09-07 00:01] #28 closed

[2016-09-07 00:02] leggetter commented on #18
Nexmo no longer offer a Sandbox.

[2016-09-07 00:02] #18 closed

[2016-09-07 00:02] leggetter commented on #13
Closing as a very old question.

[2016-09-07 00:02] #13 closed

[2016-09-07 00:07] pvela commented on #39
Yes I am ok with deprecating easynexmo.

[2016-09-07 00:14] leggetter commented on #39
Thanks @pvela. You're the only collaborator on the project in NPM so please do mark it as deprecated when you get a chance.

I think the command would be:

[code]

Update the message as you see fit 😄

[2016-09-07 00:21] pvela commented on #39
done.

[2016-09-08 01:30] leggetter commented on #39
Thanks @pvela 👍

[2016-09-08 01:30] #39 closed

[2016-09-29 14:10] cbetta opened #64 "Add Insights Advanced sync callback"
Necessary for nexmo/nexmo-cli#87

[2016-09-29 18:23] cbetta opened #67 "Add active linting to tests"
We should add linting to our tests and ensure all linting passes before code is merged. This will initially require one big refactor to lint all the current code. Things we should look at fixing:
- Strip trailing white space
- Pick tabs or spaces - probably 4 spaces
- Pick whether to enforce trailing semi colons
- Enforce camel case over snake case

[2016-09-29 20:15] #64 closed

[2016-09-30 14:06] cbetta opened #68 "Add way to generate JWT with App ID and Key to be used from outside module"
This is needed for Nexmo/nexmo-cli#88

@leggetter you already added a `JwtGenerator` but I can't use this from the CLI as it's not being exported yet by the module. What do you reckon we do, export the class or an instance?

[2016-09-30 14:14] cbetta commented on #68
Secondly: add it as a instance on a nexmo client, or as a separate export to be used separately.

Option 1:

[code]

Option 2

[code]

[2016-09-30 14:21] leggetter commented on #68
The following will work:

[code]

As will the following to override the used application ID:

[code]

We could allow a `privateKey` to be passed in.

But I think we ultimately just want to generate a JWT from any applicationId and PrivateKey combination. So we should probably aim for one of:

[code]

@tjlytle - see this comment and the one before. What do you think?

_Note: I'm not sure about the

[2016-09-30 14:25] cbetta commented on #68
@leggetter mind educating me why currently there's a function to create a JWT that takes an app ID but not a private key? Aren't these linked? Every time I generate an app I get a new App ID and key, right?

[2016-10-02 13:33] lulucious opened #72 "ReferenceError: Nexmo is not defined"
Hi,
It is impossible to instantiate Nexmo. I always an error : ReferenceError: Nexmo is not defined, trigerred on /node_modules/nexmo/lib/Nexmo.js:76:15. Of course, I did npm install nexmo before...
Can you please help on that?
Thanks a lot,

[2016-10-02 14:04] leggetter commented on #72
Hi @lulucious,

Yes, If you have installed v1.0.0 then the usage is:

[code]

These quick start examples should help:
https://github.com/nexmo-community/nexmo-node-quickstart

If they don't, could you please provide some example code? Or a repo that demonstrates the problem would be great too.

Thanks.

[2016-10-02 14:09] lulucious commented on #72
well this is EXACTLY what I did...
Do you confirm that : applicationId, privateKey and options are not mandatory?
Are you sure npm install nexmo is pointing to the right release?

By the way there is an extra **}** in your readme file :
var nexmo = new Nexmo({
    apiKey: API_KEY,
    apiSecret: API_SECRET,
    applicationId: APP_ID,
    privateKey: PRIVATE_KEY_PATH,
  **}**, options });

[2016-10-02 14:40] leggetter commented on #72
Yes, I can confirm that `applicationId` and `privateKey` are not mandatory.

https://www.npmjs.com/package/nexmo

Is correctly pointing to 1.0.0.

If you run:

[code]

And populate the values in the `.env` with the `EXAMPLE_FROM_NUMBER` being a virtual number you are renting from Nexmo and `EXAMPLE_TO_NUMBER` your number. Then run:

[code]

You phone should receive an SMS. I've just tested this.

[2016-10-03 11:12] lulucious commented on #72
Ok I found the problem, but I can't explain it easily...
the presence of this line in the file that requires nexmo breaks my call to the module :
 `body.match(/â|ê|î|ô|û|ë|ï|ç|ù/g)? then 'unicode' else 'text'`
Any idea?

[2016-10-03 14:54] leggetter commented on #72
@lulucious can you provide any more context? Could you provide a code sample that reproduces the problem?

[2016-10-04 13:56] leggetter opened #74 "Add license field to package.json"

[2016-10-04 16:32] lulucious commented on #72
If a special caracter, or a single quote (**’**) is in your js file (even in a commented line!!), Node cannot compile the nexmo module...

[2016-10-04 17:58] lulucious opened #75 "sms error 411"
Hi again,
When I send sms using the api, using {} as option and a callback, I systematically get
{ success: false, errors: [ { message: '', code: 411 } ] }
When using the debug mod, I am able to get the query path.. It works perfectly with postman!
Any idea?

[2016-10-04 18:02] cbetta commented on #75
@lulucious can you share the exact code you are running so we can try and replicate?

[2016-10-04 18:03] lulucious commented on #75
nexmo.message.sendSms sender, recipient, message, {}, (err,nexmoRes)->
			console.log err
			console.log "-"
		 	console.log nexmoRes

[2016-10-04 18:06] cbetta commented on #75
@lulucious mind fleshing this out a bit more? I need some code I can run as is, so I need to know what `sender` and `message` are.

[2016-10-04 18:07] lulucious commented on #75
i tried with string values and got the same error msg : sender:"hello" , recipient:"33622222222", message:"hello"... I know it sounds basic but it's not working!
Works perfectly with request...

[2016-10-04 18:14] cbetta commented on #72
@lulucious I'm not sure this is the issue. See https://github.com/cbetta/node-nexmo-unicode-example for proof that this works fine.

Did you actually put nexmo in your `package.json`?

[2016-10-04 18:16] cbetta commented on #75
@lulucious what happens if you just do:

[code]

??

[2016-10-04 18:17] lulucious commented on #72
yes of course! I really did a lot of investigation before finding the
guilty lines...
This only worked when I removed that line and the one with the slanted
quote.
Even commenting the line did not help. Only removing it did. I can't
explain and i agree that it sounds unrelated but it is the case...

Le mar. 4 oct. 2016 à 20:14, Cristiano Betta <notifications@github.com> a
écrit :

[2016-10-04 18:20] lulucious commented on #72
Just add on line 2 :

nexmo = new Nexmo({
  apiKey: "yyy",
  apiSecret: "xxx"
}, {
  debug: true
});

Le mar. 4 oct. 2016 à 20:16, Lucien Derhy <derhyl@gmail.com> a écrit :

[2016-10-04 18:22] cbetta commented on #72
@lulucious still works for me https://github.com/cbetta/node-nexmo-unicode-example

[2016-10-04 18:27] lulucious commented on #72
Haha you are going to say that I am crazy untill you see it :)
Please delete line 2, leave no blank line, like this :

var nexmo = require('nexmo');
nexmo = new Nexmo({
  apiKey: "yyy",
  apiSecret: "xxx"
}, {
  debug: true
});
var regex = /â|ê|î|ô|û|ë|ï|ç|ù/g;

console.log('This worked');

Le mar. 4 oct. 2016 à 20:22, Cristiano Betta <notifications@github.com> a
écrit :

[2016-10-04 18:28] cbetta commented on #72
@lulucious you have a typo on line 1, it needs to be `var Nexmo` with a capital N

[2016-10-04 18:34] cbetta commented on #75
@lulucious just tried this and it works fine:

[code]

[2016-10-04 18:38] lulucious commented on #72
that is not the prob. I have this exact code, and it is not working :

[code]

[2016-10-04 18:41] lulucious commented on #72
Hmm.. it is working when i run it in js but on in coffeescript

This is ok :
`Nexmo = require('nexmo');

nexmo = new Nexmo({
  apiKey: "ii",
  apiSecret: "hh"
}, {
  debug: true
});

body = "";

body = body.replace(/’/g, "'");

console.log("ok");
`

But this is not :
`Nexmo = require('nexmo')
nexmo = new Nexmo({apiKey:"ii", apiSecret:"hh"}, {debug:true})
body = ""
body = body.replace(/’/g,"'")
con

[2016-10-04 18:45] cbetta commented on #72
@lulucious both of them work fine here in `js` and `coffee`. I'm 99% certain your error is just referring to the first line in the code due to a syntax error (incorrectly). I'm pretty sure it's not our library in this case. I'd like to close this issue until we can actually prove this to be an issue with our library because I can't see how it is.

You ok with that?

[2016-10-04 18:46] cbetta commented on #72
@lulucious FYI I ran this code below and it works fine here.

[code]

[2016-10-04 18:47] cbetta commented on #72
@lulucious just to be sure: what NPM/Node versions are you running?

[2016-10-04 18:50] lulucious commented on #72
v4.4.3

[2016-10-04 18:52] lulucious commented on #72
that same code returns :

[code]

[2016-10-04 18:56] cbetta commented on #72
@lulucious can you make me a project with package.json and everything like I did with https://github.com/cbetta/node-nexmo-unicode-example that shows it not working?

[2016-10-04 18:59] cbetta commented on #72
@lulucious tested in Node 4.4.3 and it all works fine here.

[2016-10-04 19:00] cbetta commented on #72
FYI I am running `CoffeeScript version 1.11.1`

[2016-10-04 19:07] lulucious commented on #72
https://github.com/lulucious/nexmo-weird-pb

[2016-10-04 19:08] cbetta commented on #72
@lulucious I'll get back to this later tonight.

[2016-10-04 19:25] leggetter commented on #75
If the TO number is a non UK number e.g. a US number then the FROM value
must be a Nexmo virtual number for your account.

On Tue, 4 Oct 2016, 19:34 Cristiano Betta, <notifications@github.com> wrote:

[2016-10-04 20:32] cbetta commented on #72
@lulucious I tried your code and it all still works pretty fine for me. Both the Node and the Coffee version. There's something on your system definitely wrong.

[2016-10-04 20:33] cbetta commented on #72
@lulucious could you try a different Node version on your machine for me? Just want to see if that makes it go away.

[2016-10-04 20:38] cbetta commented on #75
@leggetter thanks for reminding me. Still works fine for me though:

[code]

returns

[code]

[2016-10-04 22:23] ale2805 opened #76 "shortcodeAlert: confusing parameters (messageParams and opts)"
Hi,
what is messageParams?

Thanks

[2016-10-05 08:54] cbetta commented on #76
@ale2805 thanks for the question. I had a quick look and as far as I can see `opts` and `messageParams` are the same thing. See https://github.com/Nexmo/nexmo-node/blob/master/src/index.js#L143-L166. @pvela any idea why these seem to be the same?

Now, the documentation for these options can be found on https://docs.nexmo.com/messaging/us-short-codes-api/event-based-alerts/send-event-based-alerts/

[2016-10-08 12:58] #68 closed

[2016-10-23 11:39] cbetta opened #78 "Improve error format consistency"
Currently errors come in either as:
- The `error` object in a callback, with a `message` attributes
- The `error` object in a callback, with a `error-code` and `error-code-label` attribute
- The `response` object in a callback, with a `status`  attribute with a value of `0`

This is causing a lot of headache when used (see nexmo/nexmo-cli#104).

I propose we instead return an `error` object and **

[2016-10-24 17:48] cbetta opened #79 "Support private key as authentication vs file?"
I currently find the library to be a bit inconsistent when it comes to private keys. As a user I am left to write a key to file:

[code]

But then when I try to configure the library with a key it requires a filename and reads the file:

[code]

I somehow think it would make a lot more sense for the initializer to just accept the key itself and not bother itself with reading from disc. This would

[2016-10-24 21:20] tjlytle commented on #79
@cbetta I missed specifying this in the client spec (will add) but we ran into a similar conversation around the python library. I'll be updating the spec to read that the client libraries *must* accept the key as a string, and *may* provide a way to pass a filename. Reasoning is the former is possible regardless of how you store the key, the latter dictates storage that may be difficult or imposs

[2016-10-25 07:59] leggetter commented on #79
Node supports Buffer or a string path at present.

[2016-10-25 08:58] cbetta commented on #79
@leggetter yet it does not support this:

[code]

What am I missing?

[2016-10-25 09:01] leggetter commented on #79
It doesn't support the key being passed as a string. Just:

1. String - path to file
2. Buffer - contents of key loaded into a buffer

The suggestion elsewhere has been to check the start of the string to see if it's the key. See https://github.com/Nexmo/nexmo-python/issues/12

[2016-10-25 09:01] cbetta commented on #79
@leggetter check, I just figured that out. I was going to suggest similar behaviour for the node library indeed.

[2016-11-07 20:12] jkramr opened #81 "I'm getting 411 error code randomly when creating a call."
Voice API is returning 411 "length-required" code from time to time. Fixed by forking the nexmo library and including "Content-Length" header.

[2016-11-07 21:06] cbetta commented on #81
@jkramr thank you for letting us know. Would you be able to open a pull request with the changes you made? We'd love to merge them in.

[2016-11-08 10:25] jkramr commented on #81
`// Fix broken due ot 411 Content-Length error now sent by Nexmo API`
 `// PL 2016-Sept-6 - commented out Content-Length 0`
 `// headers['Content-Length'] = 0;`
Uncommenting this solution does not work for me, as I receive `ReferenceError: headers is not defined`.
Specifying `'Content-Length': params.length` for each request although - does.
Creating a pull request shortly.

[2016-11-14 13:23] cbetta commented on #81
Resolved by #82

[2016-11-14 13:23] #81 closed

[2016-11-16 21:39] Cmarenburg opened #84 "TypeError: Cannot read property 'sendSms' of undefined Help"
Hey Guys,

So I've run into an issue when I go and try to send an SMS and it seems like nexmo isn't being defined at all. I've tried this on staging a local however I can't seem to resolve the issue. Here's the code I have

Init.
[code]
and here's the error
[code]
Any ideas or help?
Thanks, Colin

[2016-11-16 22:16] leggetter commented on #84
Hi @Cmarenburg,

What is on line 25 of `testing.js`? The stacktrace doesn't seem to suggest this is a problem with the `nexmo` module, but if you could share what's on that line and what the `create` function is being called on I'll have a better idea.

Thanks.

[2016-11-17 00:39] Cmarenburg commented on #84
It's running into the issue when ever I try to send an SMS or Call ( haven't tested other nexmo features).

[code]

throws a  Cannot read property 'sendSms' of undefined

or when trying to call
[code]

throws a  TypeError: Cannot read property 'create' of undefined.

I'm not totally sure what is going on. Node version is 6.9.1 and nexmo version is 0.0.7

[2016-11-17 09:11] leggetter commented on #84
The latest version of `nexmo` is 1.1.0 so I'd definitely recommend updating to that version. Before 1.0 `nexmo` only had functions directly off of that object.

So, try updating to the new version. I'm reasonably sure that'll resolve this. Please let me know.

[2016-11-17 22:13] quinncomendant commented on #18
@avl055 I noticed the link you gave https://docs.nexmo.com/api-ref/nexmo-sandbox just redirects to https://docs.nexmo.com/. I can't find any docs on how to test Nexmo. @leggetter says Nexmo no longer offers a Sandbox. I'm developing an app in Mexico that needs to use virtual numbers, and here they cost $12/month. For testing, it's not reasonable to spend such money for each num needed. Please tell

[2016-11-18 01:42] #84 closed

[2016-11-20 15:29] xbugster commented on #18
Nexmo probably worst company that only cares to earn money, but not provide any reliable tech support to their customers. Such as no test/dev/staging/sandbox environment, for tests you have to purchase number and brainfuck about how to test your integration with their services, how your QA will test in QA Environment, when your QA envs point to QA sms/mailing service and other services.
They don't

[2016-11-20 15:36] leggetter commented on #18
@quinncomendant We're working on ensuring that our APIs have clear definitions that can then be used to generate your own sandbox. This removes the need for an integration into any form of 3rd party service that is outside of your testing environment.

We're presently looking to hire an API Design Lead to join the DevRel team to help with this effort.

If you'd like some credit to help with your t

[2016-12-06 17:33] leggetter opened #85 "Add support for retrieving call recordings"
For @jonlingard :)

Generally missing across the board on docs and in other libraries.

[2017-01-13 13:34] leggetter opened #87 "Update USER-AGENT header format to LIBRARY-NAME/LIBRARY-VERSION LANGUAGE-NAME/LANGUAGE-VERSION"
`LIBRARY-NAME/LIBRARY-VERSION LANGUAGE-NAME/LANGUAGE-VERSION`

As per https://github.com/Nexmo/client-library-specification/blob/master/SPECIFICATION.md#reporting

[code]

In addition, `appendToUserAgent` should be appended to the string so the format will be:

[code]

As an example usage:

[code]

[2017-01-21 23:34] yehya opened #88 "Stream fails due to undefined method"
Streaming mp3 fails due to the method being undefined when it's supposed to be PUT

Output of debug when using stream

`info: Request: { host: 'api.nexmo.com',
  port: 443,
  path: '/v1/calls/-call-id/stream',
  method: undefined,
  headers:
   { 'Content-Type': 'application/json',
     Accept: 'application/json',
     'User-Agent': 'nexmo-node/1.1.0/v4.6.1',
     'Content-Length': 81,
     Author

[2017-01-23 07:08] robomotic opened #90 "Update README to document what callback receives"
[Edit by @cbetta]

Add documentation on what `callback` actually is. For most people it's clear to be a function but even then it would be good to document what to expect exactly.

[Original issue]

Hello there,
would it be possible to add the response to all function calls ?
Otherwise I am unable to determine if for example an SMS message was sent.

Cheers.

[2017-01-23 10:32] cbetta commented on #90
@robomotic just trying to understand what you mean here. `sendSMS` accepts a callback that is called with an `error` and/or `response`, right? Is that not what you need?

[2017-01-23 11:55] gasp commented on #85
For the hasty ones.

[code]

Be aware that calling `nexmo.app.creds.generateJwt()` is undocumented, thus can be unsupported by nexmo without prior notice...

[2017-01-23 14:31] leggetter commented on #85
@gasp `nexmo.generateJwt()` is supported though:
https://github.com/Nexmo/nexmo-node#jwt

[2017-01-23 14:53] cbetta commented on #88
@yehya I am trying to write a test for this before I merge your PR into master, woulld you be able to tell me what SDK call you made?

[2017-01-23 14:58] cbetta commented on #88
Never mind, got it.

[2017-01-23 15:19] ramzeaslan opened #93 "CLI enable environment selection"
I would like to be able to define what environment the CLI should be working against currently it seems hardcoded to only work with Production env

A good solutions is is an argument which can be set as part of command

so for exmaple to check your balance, you would do :

18.96 EUR

[2017-01-23 16:50] cbetta commented on #93
@ramzeaslan great idea. Would the host url be a full url, or just a domain, or also a port? Would this url be predictable? If so can we just do `nexmo balance --host dev`?

[2017-01-23 18:18] gasp commented on #85
Thanks @leggetter just updated the above snippet !

[2017-01-23 18:20] cbetta commented on #85
Thanks @leggetter @gasp I'll add this to the library tomorrow

[2017-01-23 18:21] #87 closed

[2017-01-23 18:25] #88 closed

[2017-01-23 18:26] leggetter commented on #93
@cbetta I think it'll be a `host`, probably including scheme e.g. `http://internal-api.nexmo.com`

[2017-01-23 18:35] cbetta opened #95 "Use Travis to publish new releases to NPM"
Currently we are doing this manually but this can be automated with Travis.  The simplest way to do this is by listening to new tags being published.

Benefits:

* We can limit publish access for the gem to the NPM `nexmo` user only
* NPM.js will no longer list a user as the "owner" if a release was pushed by that user
* Every new release will be forced to pass tests
* Every new release will be ta

[2017-01-23 19:51] girliemac commented on #85
👍 I was about to publish the Voice tutorial using fs to fetch the mp3, but I will wait! Basically, I did similar to @gasp, but used `request` module.

[2017-01-23 22:04] robomotic commented on #90
@cbetta I think a little clarification is required here, I assumed the callback was the webhook endpoint as described in the Nexmo documentation. It's just an unfortunate naming, perhaps adding a more complete code snippet would help ?

[2017-01-23 23:06] yehya commented on #88
It was the audio streaming feature for MP3's into calls. Glad it worked, cheers!
(discovered this bug while building this btw! https://youtu.be/5IFfr-ggy-8?t=1619 )

[2017-01-24 09:47] ramzeaslan commented on #93
I reckon having the full host makes the most sense, otherwise we are restricting ourselves and as such are less future proof.

Another alternative which is worth considering is that as part of the setup of the Nexmo CLI you are setting your API key and Secret, what if you also set your env as part of the setup?

Thanks

[2017-01-24 09:56] cbetta commented on #93
@ramzeaslan interesting. Does make things easier to use. Let me think about it.

[2017-01-24 10:07] leggetter commented on #93
It feels like we're moving more towards a per-project config rather than global config that you'll have to change as you move between environments.

IMO https://github.com/Nexmo/nexmo-cli/issues/109 could be a related to this. How nexmo-node enables it is a good question. But this discussion is really related to the CLI rather than nexmo-node.

To enable this we just need to make the `host` config

[2017-01-24 10:09] cbetta commented on #93
I had not even noticed this issue wasn't on the CLI project. Let's close this one and re-open on the CLI library.

[2017-01-24 12:08] cbetta commented on #95
More info: https://docs.travis-ci.com/user/deployment/npm/

[2017-01-24 12:28] cbetta commented on #93
Closing, have opened https://github.com/Nexmo/nexmo-cli/issues/114 instead.

[2017-01-24 12:28] #93 closed

[2017-01-24 12:39] cbetta commented on #72
Closing due to inactvity

[2017-01-24 12:39] #72 closed

[2017-01-24 12:40] cbetta commented on #40
Irrelevant due to many changes since this was opened.

[2017-01-24 12:40] #40 closed

[2017-01-24 12:41] cbetta commented on #75
Closing due to inactivity

[2017-01-24 12:41] #75 closed

[2017-01-24 12:55] #74 closed

[2017-01-24 12:58] cbetta commented on #85
@leggetter @girliemac @gasp so do we think the SDK needs to take care of writing to disk, or should it just return a buffer that the user can write?

[2017-01-24 13:17] cbetta commented on #85
Going off these docs: https://docs.nexmo.com/voice/voice-api/recordings

It seems that the webhook gets sent a `recording_url` after a recording. Few questions:

@girliemac why are you building the URL yourself? Where is `fileID` coming from in your case?
@gasp why are you using a seemingly different URL to load the recording from than @girliemac? Her's seems to match what is in the docs. Also whe

[2017-01-24 13:20] cbetta commented on #90
@robomotic are you saying you just think the docs need updating?

[2017-01-24 14:42] gasp commented on #85
I think that the lib should handle the `fs` or else, its added value seems poor, something like
`nexmo.recordings.download(fileId, destinationPath, callback);`

@cbetta the fileID (or `file_uuid` to be consistent with `conversation_uuid`, `call_uuid`, `recording_uuid`...) is dirtily extracted from the webhook which provides a `recording_url` which looks like `https://api.nexmo.com/v1/file/11111111

[2017-01-24 15:14] cbetta commented on #85
@gasp so just to clarify, you extract the file_uuid, only to then reconstruct it again later to download the file?

See:

[code]

and

[code]

[2017-01-24 15:16] cbetta commented on #85
@gasp I'm asking as I'm wondering if it wouldn't be easier to instead do:

[code]

[2017-01-24 15:51] gasp commented on #85
I would prefer having `file_uuid` being the same as `recording_uuid`.

[2017-01-24 16:02] cbetta commented on #85
Ok so for now my proposed implementation would be:

[code]

or

[code]

[2017-01-24 17:50] leggetter commented on #85
@cbetta - it's likely that we should use `files` since to match the API resource that's being interacted with (`/v1/files` - which includes the version). As you can probably guess the plan is for this resource to offer more than just access to call recordings.

To be consistent with the other resources it should probably be a `get` function. So I'd suggest:

[code]

Since - as discussed - having t

[2017-01-24 18:14] girliemac commented on #85
@cbetta yeah I am using the URL, "https://api.nexmo.com/media/download?id=xxxx" which I saw on the [doc](https://docs.nexmo.com/voice/voice-api/recordings), but the actual URL I get from the `recording_url` is the one with the version number. Both seem to work anyway.

and I do prefer `download` or something not `get` func name because we are actually using the file I/O and returning the buffer to

[2017-01-24 20:32] leggetter commented on #85
I'm not against client libraries offering more intuitive and useful domain specific functionality e.g. offering file retrieval and saving via something like a `download`. But we should have a baseline of functionality that's common across all resources i.e. `get`, `create`, `update`, `delete` (where applicable).

[2017-01-25 17:32] leggetter commented on #85
I've had confirmation we should be using `/v1/files` and not the media one. I'll get the doc updated too.

[2017-01-26 16:09] robomotic commented on #90
@cbetta Yes or an example to explain that callback is not the url callback . :-)

[2017-01-30 10:11] #95 closed

[2017-01-30 10:17] cbetta commented on #85
Ok, for now I will implement 2 functions.

[code]

[code]

[2017-01-30 11:22] adambutler opened #101 "Handle non 2xx status codes from Nexmo API"
When the Nexmo API responds with a non `2xx` status code an appropriate response should be printed.

Perhaps something like:

[code]

<img width="1085" alt="screen_shot_2017-01-30_at_11_17_23" src="https://cloud.githubusercontent.com/assets/1238468/22421176/e47a7100-e6dd-11e6-9661-8e34dc264076.png">

[2017-01-30 11:26] adambutler commented on #101
Moved to correct repo https://github.com/Nexmo/nexmo-cli/issues/118

[2017-01-30 11:26] #101 closed

[2017-01-30 11:29] cbetta opened #102 "Handle 504 errors in the API"
(Via @adambutler)

When the Nexmo API responds with a non `2xx` status code an appropriate response should be printed.

Perhaps something like:

[code]

<img width="1085" alt="screen_shot_2017-01-30_at_11_17_23" src="https://cloud.githubusercontent.com/assets/1238468/22421176/e47a7100-e6dd-11e6-9661-8e34dc264076.png">

[2017-01-30 11:35] cbetta commented on #102
Closing, the Node library does do this right

[2017-01-30 11:45] cbetta commented on #102
Reopening:

It seems currently when a JSON parse error happens, rather than returning the error we return the body.

I think this line is at fault:

https://github.com/Nexmo/nexmo-node/blob/master/src/HttpClient.js#L87

Together with this line:

https://github.com/Nexmo/nexmo-node/blob/master/src/HttpClient.js#L82

My gut feeling says that we should trigger the callback on line 83.

[2017-01-30 15:32] #102 closed

[2017-02-20 21:23] leggetter opened #108 "Should support full JSON structures when generating JWTs"
See: Nexmo/client-library-specification#22

[2017-03-08 11:57] ukmadlz opened #111 "Add version to travis tests"
Seeing increased deployments of `node 7.*` code in IBM Bluemix, the trend probably follows in Heroku etc. Is it worth adding `7` to the `.travis.yml`?

[2017-03-08 12:08] ukmadlz opened #112 "Consider introducing greenkeeper.io & snyk"
The library currently has 17 devDependencies.

[Greenkeeper.io](https://greenkeeper.io) would allow or easier version bumping as it automates the process when new versions are added to npm.

[Snyk](https://snyk.io) does vulnerability checking, by introducing this you can check for dependencies that could be hazardous at the version implemented.

[2017-03-17 06:26] buiminhhuy opened #113 "How to verify by mobile call"
How do to send verify code via mobile call to end user

[2017-03-17 14:00] leggetter commented on #113
Verify will send a text message and fallback to making a TTS call that reads out the pin code. If you _only_ want to do this via a call then you would need to implement your own workflow.

That would flow may be [making a call](https://github.com/Nexmo/nexmo-node#make-a-call) to the target number and then using [talk](https://docs.nexmo.com/voice/voice-api/ncco-reference#talk) to read out the pin

[2017-03-17 14:00] #113 closed

[2017-03-20 10:28] iwebsolution opened #114 "Library does not handle HTTP Status Code 429 responses"
{ message: 'The API response could not be parsed.',
  parseError:
   SyntaxError: Unexpected end of JSON input
       at Object.parse (native)
       at HttpClient.__parseReponse (/root/node_modules/nexmo/lib/HttpClient.js:127:27)
       at IncomingMessage.<anonymous> (/root/node_modules/nexmo/lib/HttpClient.js:98:19)
       at emitNone (events.js:91:20)
       at IncomingMessage.emit (events.js:1

[2017-03-20 10:28] leggetter commented on #114
This seems related to #110. Investigating.

[2017-03-20 11:05] leggetter commented on #114
@iwebsolution what's the output from the library if you have `debug` set?

Please remember to remove any mentions of your API Key, Secret or generated JWTs.

[2017-03-20 15:38] iwebsolution commented on #114
`
       PS C:\Users\isite\Desktop\Workspace\nexmo> node app.js
       info: Request: { host: 'api.nexmo.com',
         port: 443,
         path: '/v1/calls',
         method: 'POST',
         headers:
          { 'Content-Type': 'application/json',
            Accept: 'application/json',
            'User-Agent': 'nexmo-node/1.2.1 node/6.2.2',
            'Content-Length': 189,
            Author

[2017-03-20 23:35] leggetter commented on #79
Closed via #80

[2017-03-20 23:35] #79 closed

[2017-03-20 23:57] leggetter commented on #114
This has been fixed in v2.0.0 release https://github.com/Nexmo/nexmo-node/releases/tag/v2.0.0

[2017-03-20 23:57] #114 closed

[2017-03-20 23:59] leggetter commented on #67
Fixed in #99 and in #107.

[2017-03-20 23:59] #67 closed

[2017-03-21 16:30] cbetta commented on #78
@leggetter can we close this now, based on the 2.0 release?

[2017-03-21 16:32] cbetta opened #118 "Add support for RTC type application"
Context: https://github.com/Nexmo/nexmo-cli/issues/108

It seems there is a new application type called `rtc` that is not yet documented by requested to provide support for regardless. Currently the code validated the param for the app type and rejects `rtc`.

[2017-03-21 16:44] leggetter commented on #78
@cbetta I thought we could assess this as part of https://github.com/Nexmo/nexmo-cli/issues/123

Based on the above:

If `message` is present on the body response it will be available via `error.body.message`. But not across all APIs.

Available via `error.body['error-code']` etc. But I'd want to check to see what happens if we get a `2xx` response. It may be that we don't make a callback with an

[2017-03-21 17:28] cbetta commented on #78
@leggetter ok, I will evaluate!

[2017-03-22 15:02] cbetta opened #120 "Add support for numbers shorter than 10 digits"
As @sammachin pointed out the current library incorrectly assumes that all numbers are > 10 digits. This is a) incorrect, and b) probably not a check the library should do.

For now I will update the library to just check that a numbers is a) just digits and b) 1 digit or more.

[2017-03-22 15:03] cbetta commented on #120
This is currently preventing @sammachin  from updating shortcodes through the CLI.

[2017-03-22 16:31] #118 closed

[2017-03-22 16:31] #120 closed

[2017-04-12 17:31] radiodario commented on #90
It would be nice to see what arguments the callback is being sent, even if it follows the `(error, response)` convention

[2017-04-14 15:54] phil-andrews opened #122 "Voice API length_timer does not limit call duration"
[code]

When dialing out using node I have been unable to get length_timer to end a call when set to any duration.

[2017-04-23 14:36] phil-andrews opened #124 "How to send audio back through a websocket connection?"
I'm having trouble getting audio to play when sent back through a websocket connection. The best I've gotten so far is a short crackle. It's receiving the file but not playing it, at least not correctly. I've tried to model the incoming websocket `binaryData` by sending back the audio in chunks of 640 bytes as that's what I've found the chunk size I receive to be.

[code]

I've tried both mp3 and

[2017-04-23 14:39] phil-andrews commented on #122
Update on this. I will say that it does limit it but the API does not kick back an event when it times out. This requires manually inserting timers into an automated application.

[2017-04-24 12:52] leggetter commented on #122
@phil-andrews so you don't seem to be getting any [webhook call events](https://docs.nexmo.com/voice/voice-api/api-reference#cc_event_webhook) when the timeout takes place?

You should get a call status update to `completed`.

[2017-04-24 13:00] sammachin commented on #124
Hi Phil,

This is a common problem, you need to send back the audio frames at appropriate intervals otherwise it just all plays out at once which is the crackle you are hearing. There's an issue on our roadmap to increase the buffer our end to around 10-30s.
Add a delay of 18ms between each each 640byte audio frame (the frame duration is 20ms, but if you set your delay to be that then you end up w

[2017-04-24 16:17] phil-andrews commented on #124
Oh wow, that worked perfectly. 19ms was dead on. Found 18 or 20 to have a slight chop.

Thanks for the response Sam! I actually got started with Nexmo websockets via the webinar you did and was just about to email you before I saw this response. Great stuff.

[2017-04-24 16:25] phil-andrews commented on #122
After a couple thousand calls and plenty of time outs I do not believe that I am. It's possible that I'm not waiting long enough for it to come, ~90s. But even before I put that timer on I would have to manually reset a phone instance to handle a call that timed out. And during that period I waited 5-10 minutes a few times just to see if I'd get pinged.

On top of receiving the basic `completed` r

[2017-04-26 09:18] #124 closed

[2017-05-19 08:49] lyudad opened #129 "return null in callback function"
'use strict'
const Nexmo = require('nexmo');
const Promise = require('bluebird');

const nexmoSettings = {
  apiKey: "my api key",
  apiSecret: "my secret key"
}

module.exports = function(phone) {
  const nexmo = new Nexmo(nexmoSettings);

  return new Promise(function (resolve, reject) {
    nexmo.message.sendSms("ADD", phone, "Verification Code ", function(res) {
        //here res === null

[2017-05-23 03:35] phukhanhlee opened #130 "Same api as iOS client SDK"
https://docs.nexmo.com/verify/verify-sdk-for-iOS/advanced
I need to call logoutUser but i did't find same api in nodejs or in api document.
Please help !

[2017-05-24 09:11] adambutler opened #131 "Add private key support"
Currently the nexmo-node library takes the private key as a path, this presents an issue in certain scenarios where the private key is to not be checked into version control; for example open source projects.

If for instance using hosting such as Heroku your application would need to:

1. Read the private key from the environment.
2. Write the private key to disk
3. Initialize `Nexmo` with the th

[2017-05-24 09:18] leggetter commented on #131
It also supports a string. Could be that the docs just need updating.

On Wed, 24 May 2017, 11:11 Adam Butler, <notifications@github.com> wrote:

[2017-05-26 08:57] phukhanhlee opened #132 "Nexmo recording url return null !"
Please help !!!!
My app use nexmo for recording voice call. It works great before. But now we can't get record url

Here is my response JSON
*** Recording... ***
{ start_time: '2017-05-26T08:16:43Z',
recording_url: '',
size: 0,
recording_uuid: 'd8c75dcc-8a8d-4fb7-9d6e-527d5a435547',
end_time: '2017-05-26T08:16:53Z',
conversation_uuid: 'CON-e041a484-4d0b-4b79-bf12-8f0a7568dc92' }

Now every call re

[2017-05-26 09:09] leggetter commented on #132
This is being handled via Nexmo Support.

[2017-05-26 09:09] #132 closed

[2017-05-30 07:47] marcelgoya opened #133 "Getting an http 400 error code when executing nexmo.calls.talk.start"
I'm running nexmo.calls.talk.start twice on the same callId. The first run works fine but I'm getting this error message when I'm running it a second or third time:

`{ body:
   { type: 400,
     title: 'Bad Request',
     invalid_parameters: [ [Object] ] },
  headers:
   { 'content-disposition': 'attachment; filename="api.txt"',
     'content-type': 'application/json',
     date: 'Tue, 30 May 201

[2017-05-30 15:21] yeinel commented on #124
@phil-andrews  could you help me sharing the final example !? I am new with nexmo and websockets!

[2017-05-30 21:02] leggetter commented on #133
@marcelgoya - I've just pinged the engineering team that handle this to see if they can shed some light. Hopefully `Client GRPC deadline too short. Should be at least: 3 * audio-duration + 5 seconds. Current deadline is: 189.99718963797204 second(s). Required at least: 191 second(s).` helps identify the cause/problem.

[2017-05-30 21:03] marcelgoya commented on #133
@leggetter Thanks for forwarding this. I think you can ignore the GRPC error message because it's not related to the actual problem but a speech recognition error message.

[2017-05-30 21:37] leggetter commented on #133
@marcelgoya is it possible to replicate and expand the `invalid_parameters` property?

[2017-05-31 06:26] marcelgoya commented on #133
@leggetter nope, not in my console. Basically, it happens no matter what text I feed him after the first execution of the start function.

[2017-05-31 11:20] lyudad commented on #129
I found the answer, first parameter is error and second is message. So it would be
nexmo.message.sendSms("ADD", phone, "Verification Code ", function(er, res) {
//here res !== null
})

[2017-05-31 11:20] #129 closed

[2017-06-01 16:12] marcelgoya commented on #133
Alright, I was able to pin this one down. I'm making two voice calls with different call id's. Running the talk or stream cmd on the first call works fine but not on the second one. I've tripled checked that the call id's are correct, so I assume it might be something about the JWT token?

[2017-06-01 17:24] leggetter commented on #133
@marcelgoya I need to put some sample code together to replicate. Shouldn't take too long.

If you have an example, please share. Otherwise I'll aim to get this tested on Monday. Is that okay?

[2017-06-01 19:04] marcelgoya commented on #133
Alright, after going through my call events, I've noticed that every time when I'm calling my phone number, the call status is changed to machine for whatever weird reason. Could this be a reason while I'm unable to use the tts command for example?

[2017-06-01 19:07] marcelgoya commented on #133
@leggetter Ok, that was indeed the reason why it didn't work. Just did a test call where it didn't change to answer_machine and it worked.

[2017-06-01 19:08] leggetter commented on #133
@marcelgoya - yes, you can only `talk` or `stream` to an active call.

[2017-06-01 19:08] leggetter commented on #133
You can determine an active call by the events to the `event_url`. See the `answered` state https://docs.nexmo.com/voice/voice-api/handle-call-state

[2017-06-01 19:09] marcelgoya commented on #133
@leggetter Is there any way to disable the answer machine detection. I'm asking because I had it dozens of times where I picked up the call and it still detected it.

[2017-06-02 16:32] leggetter commented on #133
Machine detection is off by default. It's only on if you use the `machineDetection` attribute. Are you using that in your NCCO?

[2017-06-02 16:33] marcelgoya commented on #133
Nope, I'm not using it. It's funny because the problem solved itself yesterday evening and it's working fine now. So I'm going to close this one. Thanks for your help!

[2017-06-02 16:33] #133 closed

[2017-06-09 01:54] kishoreacesurf commented on #124
How to save the buffer to audio file ? what will be the format
ws.on('message', function incoming(message) {
        if (typeof message === 'string') {
            // Reflect the message back
            console.log(message);
        }
        else{
            buffer = Buffer.concat([buffer, message]);
            // Reflect the message back
            ws.send(message);
        }
    });

[2017-06-09 07:56] sammachin commented on #124
@kishoreacesurf This issue is closed so generally its not a good idea to post new questions on closed issues for unrelated threads.

However you might want to take a look at the Audiosocket Framework example app in https://github.com/nexmo-community/audiosocket_framework This will do what you are asking, its in Python but maybe you can use that or port it over?

[2017-06-16 00:52] joshkpeterson opened #134 "Request: Add example for conferences"
There are currently examples at https://docs.nexmo.com/voice/voice-api/conversation in python / ruby / php, but I could personally use a node example.

If anyone has something that's not polished and ready just laying around, I'd totally love to see it in a gist or whatever.

Otherwise I may just go through the python example piece by piece and try to replicate. If I do that successfully maybe I'l

[2017-06-16 01:32] joshkpeterson commented on #134
Sorry, meant to add this issue to the node quickstart. I've now done that here:

https://github.com/nexmo-community/nexmo-node-quickstart/issues/9

(Closing)

[2017-06-16 01:32] #134 closed

[2017-06-27 21:04] shide1989 opened #135 "Promise support"
Hi,
is there any promise support coming soon ?
that would be welcome

[2017-07-03 23:08] leggetter commented on #135
Closing as a duplicate of #56. Let's continue the conversation there.

[2017-07-03 23:08] #135 closed

[2017-07-03 23:09] leggetter commented on #56
@AlexLakatos - Do you have any thoughts on a recommended approach. Do we simply recommend using `someLibrary.promisify` or is there a way of us easily adding Promise support to the library?

[2017-07-04 07:43] shide1989 commented on #56
There's a library called bluebird, which seems to be widespread and maintained (that I personally always use), i would recommend using it : https://github.com/petkaantonov/bluebird
the api documentation is available here : http://bluebirdjs.com/docs/api-reference.html
finally, adding promises nearly always consists of :
[code]
adding this support at your top level functions (like request calls) si

[2017-07-04 12:43] AlexLakatos commented on #56
@leggetter to support both, I only know of `nodeify`, and that's not the easy way.  I would suggest people use bluebird's `Promise.promisifyAll` on importing the module, that should do the trick.

[2017-07-04 13:37] shide1989 commented on #56
@AlexLakatos it could be a good solution, but would require exhaustive testing though

[2017-07-11 23:46] phil-andrews opened #137 "Streaming audio into websocket connection produces silence"
**Original**:

This is a complete change from the past few months. Everything has been working fine, even yesterday. Woke up this morning and I'm getting no audio by reading a file into a websocket connection. I did not touch my code between the time it was working and now. I've checked versions, other vendors, and file paths. Everything is else working as expected.

I can echo back the received b

[2017-07-12 14:49] AlexLakatos commented on #137
@phil-andrews there was no release of the npm package in the past 24 hours.

[2017-07-12 15:37] phil-andrews commented on #137
I've found the culprit. Buried way down in a place where you wouldn't think to look unless you've exhausted all other options. I was connecting to my websocket securely `wss://`. I've been doing this for months without a problem. On a whim I decided to make it unsecure, `ws://` and it solve the problem for the most part.

In order to get any audio I am still forced to move it back up to a 640 byte

[2017-07-12 15:47] sammachin commented on #137
Hi Phil, glad its working seems like you have 2 issues:

You can't connect to a secure websocket server? I'm not aware of any reasons we don't support wss connections, whats your url? I wonder if there's an incompatibility with certificate providers? I'll test one of my websocket apps on heroku with their ssl connection.

Regarding the 640/320 the websocket will expect to receive audio in 16bit 16

[2017-07-12 16:02] phil-andrews commented on #137
Hi Sam. Thanks for the response.

I just emailed my vendor to see if it's their system. I had asked yesterday and they of course said it wasn't. But maybe with the detail I could give them today they'll have a better idea if it's on their end. I have been using a secure socket for months. It was just all of a sudden yesterday that it went out.

With the 320 I had shortened the frame down to 10ms.

[2017-07-12 16:03] sammachin commented on #137
I've just tested with a websocket application running locally and using ngrok to expose the socket over wss no issues for me, I wonder if its something with your certificate? Perhaps its expired?
If you want to send me the url privately my email is sam.machin (at) nexmo.com

[2017-07-12 16:05] sammachin commented on #137
Its possible that the changes made to the buffering which means you don't need to sleep could have affected the ability to send 320bytes every 10ms 640/20 is what we expect so the old option might have been a "bug" :(

[2017-08-08 20:04] hgezim commented on #124
@sammachin @phil-andrews How do I set the 20 ms delay in node?

[2017-08-09 06:31] sammachin commented on #124
@hgezim this shouldn't be required any longer since an update to the interface means you can send your audio as fast as you like and we will buffer it our end.

[2017-08-09 15:32] yeinel commented on #137
Hi @sammachin, so that means that now we don´t need to send chunks every 18ms ? for example I am sending text to ibm text to speech service and i need to pass audio chunks as they come.

[2017-08-21 10:10] jinwyp opened #138 "how to send chinese text sms ?"
Hi all:
When I send chinese text “'A text message sent using the Nexmo SMS API 你好吗”， then got message on phone “A text message sent using the Nexmo SMS API ????” ,

[code]

I find that there is a "type" parameters,  https://developer.nexmo.com/api/sms#parameters.

But how to set "type" to "unicode" using this nexmo-node ?

[2017-08-21 10:26] mheap commented on #138
Hi @jinwyp,

To send chinese characters, you will need to tell Nexmo to treat your message as unicode. To do this, change `const options = {}` to `const options = {"type": "unicode"}`.

If you enable this option, each SMS you send will only be able to contain a maximum of 70 characters (rather than the 160 characters that a standard SMS allows). This is due to how the character encoding works. You

[2017-08-21 10:26] #138 closed

[2017-08-21 11:16] jinwyp commented on #138
Is that mean I  still need  encode the message like below ?

[code]

[2017-08-21 11:35] mheap commented on #138
Based on my test, you don't need to encode the message like you show

[2017-08-21 12:09] judy2k opened #139 "Implement `searchSMS`"

[2017-08-21 12:14] judy2k opened #140 "Implement `getSMSRejections`"

[2017-08-21 12:17] judy2k opened #141 "Implement `submitConversion`"

[2017-08-21 12:41] judy2k opened #142 "Implement `topupAccount`"

[2017-08-21 12:54] judy2k opened #143 "Implement signed request authentication"

[2017-08-21 12:56] judy2k opened #144 "Implement OAuth Authentication"

[2017-08-22 02:18] jinwyp commented on #138
Many Thanks. It works

[2017-08-24 01:48] phil-andrews commented on #137
@yeinel That's correct. Nexmo handles that for you now. You can dump an entire audio file all at once and they'll handle chunking it up.

[2017-08-24 07:13] sammachin commented on #137
Just to clarify you no longer need to control the rate at which you send the audio frames (eg the 18ms sleep) but you do need to ensure that each message is a 640byte frame, (16bit, 16Khz 20ms)

[2017-09-04 04:52] ThoseGuysInTown commented on #33
Do you guys provide (or recommend) any solutions to be able to que up requests to nexmo? I'm setup so that on an individual request the requests to nexmo won't exceed 1 per second however if I have multiple threads running multiple of these requests I get the "Throughput Rate Exceeded - please wait [ 993 ] and retry" message.

Thanks

[2017-09-17 03:13] coreyarch1234 opened #145 "Call issue in sendSMS function"
I clicked on the declaration file for message.js, and I couldn't find a way to receive a callback after:

nexmo.message.sendSms(from, to, text). The docs have no information. It just states that you can include a callback as such:

nexmo.message.sendSms(from, to, text, callback). But there is no explanation of what and how to use that callback.

Eric and Chris helped me at the Tech Crunch Disrupt

[2017-09-29 12:45] jeffersonest opened #147 "I'm getting error with CALL"
var Nexmo = require('nexmo');

var nexmo = new Nexmo({
    apiKey: 'b881866c',
    apiSecret: 'b881866c',
    applicationId: '15c58522-95d0-4394-a535-54c70515c045',
    privateKey: './private.key',
}, {debug: true});

nexmo.calls.create({
    to: [{
        type: 'phone',
        number: 5581995214814
    }],
    from: {
        type: 'phone',
        number: 1234567890
    },
    answer_url: 'htt

[2017-10-02 12:12] AlexLakatos commented on #147
Hi @jeffersonest,

I can't replicate your `401` issue. It's most likely an authentication error. Can you try creating a new application and private key?

The code above does have an error that gives out an `400 - Bad Request` though, and that's because `answer_url` should be an array. So updated that to `answer_url: ['http://cliksocialapp-dev.us-east-1.elasticbeanstalk.com/api/dtmf.json']` and it

[2017-10-02 12:37] AlexLakatos commented on #145
Hi @coreyarch1234,

`sendSms` takes an optional `callback` parameter, and that gets called at the end of the execution with `(error, response)`. If you want to add your own parameter, you'll have to `.bind()` that to the callback.

Here is a working example:
[code]

[2017-10-07 22:23] machinshin commented on #56
any update on this?

[2017-10-09 10:55] AlexLakatos commented on #56
There are no plans to add promise support in the near future. `bluebird` worked well for me over these last few weeks though. @machinshin I would suggest you give that a try.

[2017-10-09 23:40] cakedan opened #150 "Websocket Connection closing randomly during call"
Currently, I send in audio at the correct format: 640 bytes, 16 bit, 16000 Sample Rate (16kHz), 20ms Frame Duration, and 1 channel (mono). The call goes on completely normal, audio is received both on my end and the phone's end normally, but randomly the phone's end would hang up the phone call and disconnect from the Websocket server.

My Websocket server I'm using is based off of https://github.

[2017-10-13 20:18] AlvaroBernalG opened #151 "[Enhancement] Add a call example/docs modifying local router configuration with DMZ"
Hello good people of nexmo-node,

Home router configuration is becoming easier and easier to use. I think it would be a good idea to add an example of assigning a DMZ  to a local machine IP. That way you eliminate the need of using Ngrok, reduce the code size/configuration of some of the examples thus making them easier to understand.

I volunteer to do the PR if maintainer agrees.

Regards,
Alvar

[2017-10-13 23:46] AlvaroBernalG opened #152 "getPhonePricing method returns 420 'method failed'"
Hello good people of Nexmo,

I am trying to access the getPhonePricing method from the number object but I am getting the following error:

[code]

In order to invocate the error I did:

[code]

Regards,
Alvaro

[2017-10-17 12:33] tommorris opened #156 "Add support for Media API"

[2017-10-21 05:50] pmaxim opened #158 "NCCO"
Thank you. JWT  key works perfectly.
I get a call, but I can not hear the sound.
My   NCCO - https://riddler.serverpipe.com/api/apinexmo/nexmovoice
I'm getting a request for this address, but there is no sound.
Thanks

[2017-10-26 15:54] mheap opened #159 "Make API_KEY and API_SECRET optional"
When making a voice call, you only need the application ID + private key. The API key and secret aren't used at all.

We should be able to use the library without providing a key/secret if an ppplication ID + private key are provided

[2017-10-27 16:14] Nishchit14 opened #160 "nexmo.files.get Error: socket hang up"
Sometimes file download `nexmo.files.get(fileIdOrUrl, callback);`  request took too much time and endups with below error

[code]

[2017-10-31 03:59] machinshin opened #161 "dtmf inputs while also recording call"
the usecase for my application requires me to save the call recording, and use DTMF tones as commands telling my application what to do / how to work with the audio.
My understanding is that this should be possible.
the ncco i am sending on the call being answered is here: https://gist.github.com/machinshin/4181ef913463b34d84daee183b8fbd4b#file-dtmf-recording-json-L3

I also attempt to send the ca

[2017-11-10 12:51] DylanGauthier commented on #158
Hi @pmaxim , it looks like we can't see what your NCCO looks like, your link looks dead.
Can you please provide another link so we can investigate further ?

Thanks,

Dylan

[2017-11-27 13:28] #85 closed

[2017-11-27 14:12] #131 closed

[2017-11-27 14:35] #111 closed

[2017-11-27 15:12] mheap commented on #152
Hi @AlvaroBernalG,

The `getPhonePricing` method expects a specific phone number, not a country code. If you provide a phone number, Nexmo will tell you the prices for sms/voice to that number. I'll add some examples for this now

[2017-11-27 15:13] #152 closed

[2017-11-27 15:17] mheap commented on #160
Hi @Nishchit14,

Could you provide any more information to help us reproduce this issue? How large is the file that you were trying to download?

[2017-11-27 15:17] mheap commented on #158
Any update on this @pmaxim?

[2017-11-27 15:20] mheap commented on #151
Hi @AlvaroBernalG,

Those that are capable of using a DMZ likely already know how to configure it, and there are so many different routers that documenting them all seems unfeasible. For this reason, I think that we should keep `ngrok` as the solution for exposing local servers at this time

[2017-11-27 15:20] #151 closed

[2017-11-27 15:21] mheap commented on #150
Is there a repo that I could clone and run to try and reproduce this issue @cakedan? Alternatively, could you share the audio file that you're streaming in to the websocket?

When you say that the call randomly ends, do you mean that it happens on every call after a random amount of time, or that it only happens on some calls?

[2017-11-27 15:22] mheap commented on #147
Closing due to no activity in > 1 month

[2017-11-27 15:22] #147 closed

[2017-11-27 15:30] mheap commented on #130
@phukhanhlee The `node` client library is designed to talk to the Nexmo HTTP API. Unfortunately it provides different functionality to our `verify-sdk` which is only available for `iOS` and `Android`

[2017-11-27 15:30] #130 closed

[2017-11-27 15:31] #137 closed

[2017-11-27 15:40] mheap commented on #76
Reading the code and the documentation, I imagine that `opts` and `messageParams` have been separated so that you can easily see which parameters are needed by Nexmo (`opts`) and which parameters have been supplied for use in a template (`messageParams`).

Due to the way the Nexmo API works, both of these entires get merged together before sending the request, so this interface is purely for the u

[2017-11-27 15:40] #76 closed

[2017-11-29 07:11] Nishchit14 commented on #160
@mheap this is the known bug in `http` lib in node.

I have just created the token with this lib and sent a request with [`request`](https://github.com/request/request) lib then it is working good.

[2017-11-29 11:14] mheap commented on #160
@Nishchit14 Great! I'll make a note in case it comes up again and will close this issue

[2017-11-29 11:14] #160 closed

[2017-11-30 13:21] mheap commented on #112
I've just started investigating this. Vulnerability scanning is handled by Github and @AlexLakatos and I are the recipients of any vulns.

Greenkeeper looks nice, but there are some concerns around giving it write access to the repo so we're going to hold off now and stick with running `npm outdated` periodically. Stability is our main focus so as long as the library has no security issues, we'll

[2017-11-30 13:21] #112 closed

[2017-12-02 00:37] #139 closed

[2017-12-06 18:43] tbass134 opened #166 ""socket hang up" Error when sending SMS"
In a recent project, we use the Nexmo module to create a call and send a SMS sequentially. When trying to send the SMS, we received the following error: ` socket hang up `

The following is the debug log when sending the SMS

[code]

We believe it has something to do with using 2 instances of the Nexmo module, one for VAPI, the other for SMS.

[2017-12-06 19:01] AlexLakatos commented on #166
Hi @tbass134, thanks for logging the issue. Can you also post a piece of code so I can try to reproduce this please?

[2017-12-14 14:00] #141 closed

[2017-12-14 14:00] #140 closed

[2017-12-14 14:10] #142 closed

[2017-12-20 00:44] hgezim opened #173 "Dialing out to <phone>#<confernece id>"
Hi,

I'm trying to dial using tel: protocol into conference bridges where the final number will end up like so: <phone number>#<conference id> however, using `nexmo.calls.create` I get this error explanation: `invalid_parameters=[reason=can contain up to 15 digits prefixed with +, name=number]`:

[code]

How, do I dial number like the `tel:` protocol does?

[2017-12-27 16:16] Shery11 opened #175 "Getting this error using nexmo npm."
{
        "code": "ENOTFOUND",
        "errno": "ENOTFOUND",
        "syscall": "getaddrinfo",
        "hostname": "rest.nexmo.com",
        "host": "rest.nexmo.com",
        "port": 443
    }

Please let me know what the issue is i need to deliver.

[2018-01-02 15:37] mheap commented on #175
Hi @Shery11,

It looks as though the machine you're running on can not connect to http://rest.nexmo.com - could you try visiting that URL without the library and let us know what happens?

[2018-01-02 15:49] mheap commented on #173
Hey @hgezim, sorry for the delay. We've been taking it easy over the holiday break!

I'm happy to say that we do support dialing in to conference bridges via `dtmfAnswer` like so:

[code]

Give it a go and let us know if you need anything else

[2018-01-02 15:55] mheap commented on #175
It looks as though this was an environment issue (https://stackoverflow.com/questions/48010920/getting-error-from-server-using-nexmo-npm-package-to-send-sms)

Please let us know if you have any more issues

[2018-01-02 15:55] #175 closed

[2018-01-05 06:40] #173 closed

[2018-01-22 19:39] capndave opened #177 ""Critical dependency: the request of a dependency is an expression" in nexmo using Vue SPA"
This might be a webpack issue, which I don't know how to address.

**Here's the error:**

[code]

**Here's my code:**

[code]

[2018-01-22 19:46] AlexLakatos commented on #177
Hi @capndave,

nexmo-node is not meant to run in a browser, it's meant to run in a node environment, maybe that's where your issue comes from.

Also, your `from` number seems to have 11 digits, and the library accepts only 10 digit numbers.
Cheers,
Alex

[2018-01-22 20:24] capndave commented on #177
Alex - is there a way to trigger javascript from the front end? I'm able to export nexmo functionality from one js file, require it in another, and send a text message. Why can't I do that within the confines of a SPA?

[2018-01-22 20:34] AlexLakatos commented on #177
The recommended solution would be to create a node middleware that exposes an endpoint for the front-end to call, hiding away the api key and secret.
If this is not a public SPA, you could technically do it with an http request to `https://rest.nexmo.com/sms/json`, but I'd strongly advise against it, as it exposes your api key and secret to the outside world.
https://developer.nexmo.com/messaging/

[2018-01-22 23:31] capndave commented on #177
Thanks for the tips!

*David Thompson *
Master of Public Affairs
Data and Visualization Consultant

On Mon, Jan 22, 2018 at 2:34 PM, Alex Lakatos <notifications@github.com>
wrote:

[2018-01-24 00:14] #177 closed

[2018-02-03 18:53] stasandk opened #178 "Verify, check, bad request error"
Hi,

I'm getting an error when successfully validate a verify sms code.  The thing is when the code is wrong the callback return a response json with error_text correctly, but when it's correct the callback return "bad request".

[code]

[2018-02-04 12:04] AlexLakatos commented on #178
Hi @srunicornio,
Can you paste the request headers here as well?

Cheers,
Alex

[2018-02-04 12:59] srunicornio commented on #178
Hi @AlexLakatos,
This is the request header. It's validating the code successfully but not returning json response.

[code]

[2018-02-16 09:12] papandreou opened #179 "Security vulnerability in the hoek module, please update the jsonwebtoken module"
A security vulnerability advisory has been issued for the hoek module: https://nodesecurity.io/advisories/566

Hoek is an indirect dependency of nexmo via jsonwebtoken (^7.1.9) -> joi (^6.10.1).

Luckily, jsonwebtoken [removed the joi dependency in 8.0.0](https://github.com/auth0/node-jsonwebtoken/blob/7b0a010e8a8ede7b2d31a702cf4fbab1cfc774b7/CHANGELOG.md#800---2017-09-06), so it seems like it's j

[2018-03-14 10:07] ralphkocher commented on #179
Theres also the used request API effected:

nexmo@2.2.0 > request@2.83.0

[2018-03-20 22:44] thesubway opened #181 "React project error"
Reproduce:
-npm install nexmo
-npm start
Can't resolve 'dns' in 'project_directory/node_modules/isemail/lib'

[2018-03-20 22:56] AlexLakatos commented on #181
Hi @thesubway,

Are you trying to use the `nexmo` node package on the front-end with React? It's not supposed to work in the browser, it's intended to be run in a Node server environment.

And it looks like isemail is erroring out and not nexmo. Can you give me more specifics about the code you're trying to run?

Cheers,
Alex

[2018-03-20 23:04] thesubway commented on #181
I tried on a brand new react project, and it comes up only after I try to import Nexmo. So it seems the isemail error comes with nexmo (probably a dependency).
But yeah thanks, I should try running it on the back-end instead.

[2018-03-20 23:04] #181 closed

[2018-04-03 15:42] axchanda opened #183 "Play audio nexmo node"

[2018-04-03 15:44] mheap commented on #183
Hi @axchanda,

We use Amazon Polly as our text to speech engine here at Nexmo. If you'd like to play text in to a call, you can use the `nexmo.calls.talk.start` method - https://github.com/Nexmo/nexmo-node#play-synthesized-text-in-a-call

If that's not suitable, let us know and we can take a look at playing text from Polly in to a websocket

[2018-04-03 15:52] axchanda commented on #183
Hi @mheap ,

Thanks for your response. But I am trying to acheive text-to-speech through websockets only. Because this will be real-time and also frequent shifts between AI and tts stt happens. So kindly help me for websockets. Your help will be so much appreciated.

Amazon Polly can be changed from the project but we need a text-to-speech at the websocket for sure.

[2018-04-03 15:54] mheap commented on #183
@axchanda I'll be able to take a look later this week. Is the source code available for me to try and run?

[2018-04-03 15:58] axchanda commented on #183
@mheap  I will send them in an hour. Also please suggest the best way to work out an AI bot with Nexmo. I tried your Lex connector but the speech was not recognized with the chatbot. So, had to shift to Google for stt engine. After AI processing, I need to send the text as audio into the websocket. Remeber there will be mulitple clients having their own conversations going on, so please make a not

[2018-04-03 22:03] axchanda commented on #183
[nexmo-tts-polly-websocket.zip](https://github.com/Nexmo/nexmo-node/files/1873560/nexmo-tts-polly-websocket.zip)

Please find the attachment @mheap . Sincere thanks for helping me. Just comment the methods one-by-one in the main code and insert aws creditinals. Thanks!

[2018-04-03 22:46] axchanda commented on #183
@mheap Beg you to process this as soon as possible, because I may need to show a demo on this day-after-tomorrow. Sorry for the rush. Please!

[2018-04-05 10:52] mheap commented on #183
@axchanda I found the issue! There were two things:

1. You were making the call to Polly inside `connection.on('message')`. This means that for every frame of audio data from the call you were making a request to Polly. Your code should be inside `on('connect')` not `on('message')`.

2. The audio buffer for websockets won't accept a full PCM file at a time. The data needs chunking up and sending

[2018-04-05 15:09] axchanda commented on #183
@mheap Thanks for your answer. But slight differences in your answers:-

1. I want to create a bot that responds to each and every message, may be not audio frame. So, inside the on('connect') the code can run only once during connection. But I want to run diff text as per the user input through the socket after speech recognition repeatedly. How to do that?
2. Thanks for that. Will try and tell y

[2018-04-05 15:16] mheap commented on #183
@axchanda There's nowhere in your code that handles speech recognition. You will need to connect the websocket audio (`on('message')`) to a transcription service, then use `synthesizeSpeech` in the callback from the transcription based on the text

[2018-04-05 15:26] mheap commented on #183
@axchanda Unfortunately I am unable to help build your solution for you. The original issue (playing PCM audio from Polly in to a websocket) has been solved

For realtime transcription, you may find https://github.com/nexmo-community/voice-google-speechtotext useful

[2018-04-29 11:04] mheap commented on #179
@papandreou 2.2.1 has just been released via NPM. Thanks for reporting, and apologies for the delay

[2018-04-29 11:04] #179 closed

[2018-05-01 11:47] varungupta85 opened #184 "Get the verification code generated for a verify request"
Is there a way to know the verification code generated by Nexmo for a verify request. My use case is that sometimes, users are not receiving the code by SMS even though Nexmo thinks that it has sent the code via SMS. In such cases, I want to resend the code to such users using the SMS API or some other service. Since Nexmo has generated the code, I should be able to complete second part of the ver

[2018-05-01 14:07] AlexLakatos commented on #184
Hi,
You can't get the code generated or complete the second part yourself with the request_id and the code, that wouldn't be very secure.

There are a few options you might want to try:
 - Verify re-sends the code for you though, and you can force the next resend
 - cancel the Verify request and make a new one, you're only paying for successful verification, so you won't get charged for the first

[2018-05-02 16:02] varungupta85 commented on #184
Hi @AlexLakatos, thanks for the response. I understood how to resend the code. I have a follow up question on the "next event". I was planning on adding a button in my app to get the OTP on call if they don't receive the SMS and I was planning on calling the `control` API with command `trigger_next_event`. Is this a correct approach? Or is it possible that when I trigger the next event, it may jus

[2018-05-03 12:28] AlexLakatos commented on #184
I believe that is the right approach, `trigger_next_event`

[2018-05-04 04:12] varungupta85 commented on #184
Great. Thanks @AlexLakatos. I will close the issue.

[2018-05-04 04:12] #184 closed

[2018-05-07 10:08] varungupta85 opened #185 "Verification code different on call than SMS"
I use the `verify` API to verify user's phone number. I am adding a control to get the verification code on call if a user has not received it on SMS. I use the `control` api to initiate a call to the user. I get the same code on the first call but if I initiate one more call, then I get a different code and the previous code is no longer valid.

Is that expected behavior?

CC @AlexLakatos

[2018-05-07 14:11] varungupta85 opened #186 "Call for verify API takes a long time"
I am using `verify` API to verify user's phone number. Users can request the code via a call to their number if they don't receive the code via SMS within 30 seconds. I use the `control` API to trigger the call. I am observing that the call takes a long time (around 30 seconds) to arrive. Is there a way to reduce this delay?

[2018-05-07 14:56] axchanda opened #187 "Sales team not responding"
The sales team does not respond to emails or phone calls. What to do now to purchase or to get support. I know this is not relevant to technology, but need support from the sales  IMMEDIATELY! Please support.

[2018-05-08 16:07] AlexLakatos commented on #187
Hi,
The best way to reach support is to email support@nexmo.com. Support has a free tier, so you don't need to purchase it. If you want to reach sales, you can email sales@nexmo.com

Cheers,
Alex

[2018-05-20 11:58] #187 closed

[2018-05-24 12:09] alexschwarz89 commented on #90
Came here, (as a php developer) didn't know about (error, response) as a convention, solved my issue, but worth adding it do documentation, even if it's 2018. ;-)

[2018-05-25 09:25] AlexLakatos commented on #90
Thanks for the feedback @alexschwarz89, I'll put it on my task list.

[2018-05-25 09:31] AlexLakatos commented on #186
Yes, you can update `next_event_wait` to be shorter than that. The docs for it are [here](https://developer.nexmo.com/api/verify)

[2018-05-25 09:31] #186 closed

[2018-05-25 09:34] AlexLakatos commented on #185
Yeah, that's the expected behavior if the pin expired in the meantime. You can fiddle with `pin_expiry` if you want the pin to stay the same for a longer period of time. You can take a look at the API specs if you need to [here](https://developer.nexmo.com/api/verify)

[2018-05-27 16:55] GoEagles999 opened #188 "message.sendSms - TypeError: Cannot read property 'status' of undefined"
I am trying to send an SMS message like this:

[code]

As you can see the message successfully sends (verified on my phone) however this error is thrown from the library immediately after. Why is this happening?

[2018-05-28 22:10] sebastien-cleany commented on #188
Hello,
I got the same issue. It occurs only with node >= 1.2.0.
Thus I supposed, it's related to https://github.com/nodejs/node/pull/20075

I would suggest the following PR in HttpClient.js but I'm not sure
[code]
I simple workaround is to downgrade Node version to 10.1.0 or below.
I hope this will help you

[2018-06-11 15:26] ghost opened #190 "TypeScript - Typings"
Hi,

I am currently using your NPM module in a TypeScript project.

I tried to install the typings using the following commands `npm i --save-dev @types/nexmo` and `npm i --save-dev @types/nexmo-node`. Both commands end up with a 404.

Are you planning to provide a `.d.ts` file for your NPM module?

[2018-06-18 21:28] AlexLakatos commented on #190
Hi @jackTheRipper ,
We are not planning to support TypeScript in the near future. Could you tell us about your use case so we can consider it?

Cheers,
Alex

[2018-06-18 21:30] AlexLakatos commented on #188
Thanks @sebastien-cleany , the proposed fix for this is in issue #191 , will be released in version 2.3.1

[2018-06-19 08:29] jackTheRipper commented on #190
Hi @AlexLakatos,

I am currently building a micro-service to interact with your APIs. The micro-service is using your NPM module and is entirely build in TypeScript.

For now, I can compile by creating an `index.d.ts` with this single line inside `declare module 'nexmo';`.

It works but I am loosing all the advantage of working with TypeScript.

Could it be possible for you to plan an `index.d.ts`

[2018-06-22 09:24] briansimiyu opened #192 "Nexmo SMS or Verification sent but error thrown afterwards"
error: problem with API request detailed stacktrace below
error: undefined
C:\abc\ghi\node_modules\nexmo\lib\index.js:135
            if (!err && apiResponse.status && apiResponse.messages[0].status > 0) {
TypeError: Cannot read property 'status' of undefined

code:
var nexmo = new Nexmo({ apiKey: 'xxxxx', apiSecret: 'xxxxxxxx' }, {debug:true});
router.post('/', function(req, res, next){
  let pho

[2018-06-22 10:08] AlexLakatos commented on #192
Hi @briansimiyu , what's the package version for Nexmo you're using?

[2018-06-24 19:03] 6illes commented on #192
Same problem, using node v10.5.0, nvm v0.33.11, npm v6.1.0
nexmo lib package.json
{
  "_from": "nexmo",
  "_id": "nexmo@2.2.1",
  "_inBundle": false,
  "_integrity": "sha512-Gr6uSxvVVMJy3gJE/HznkgkxbstwOZbG03t6Ln8ehcgNkY2GrU0vsP4ZdadGuxfgTJ3oZHvijXAYBpb3d2W3XA==",
  "_location": "/nexmo",
  "_phantomChildren": {},
  "_requested": {
    "type": "tag",
    "registry": true,
    "raw": "nexmo",
    "

[2018-06-25 03:10] AlexLakatos commented on #192
There was a breaking change in node 10.2.0 in how they handle request.on('close') that made all callbacks to be called a second time with an empty error. That's been fixed in the nexmo package version 2.3.2, so please update to the latest version of nexmo by running `npm i nexmo --save`

[2018-06-25 03:11] #188 closed

[2018-06-25 05:01] bharathvaj1995 opened #193 "error-code': '420', 'error-code-label': 'method failed"
`nexmo.number.getPhonePricing('sms', 'IN', (result) => {
       console.log(result);
});`

**Response**
result =>
{ body: { 'error-code': '420', 'error-code-label': 'method failed' },
  headers:
   { server: 'nginx',
     date: 'Mon, 25 Jun 2018 04:57:32 GMT',
     'content-type': 'application/json;charset=UTF-8',
     'transfer-encoding': 'chunked',
     connection: 'close',
     'x-frame-options

[2018-06-25 16:50] 6illes commented on #192
Thank you for your commitment

Le lun. 25 juin 2018 à 05:10, Alex Lakatos <notifications@github.com> a
écrit :

[2018-06-25 20:32] #192 closed

[2018-06-25 20:38] AlexLakatos commented on #193
I'm sorry, there was an issue in the docs. The method statement for `getPhonePricing` requires a MSISDN instead of a country code. `getPricing` works with a country code. You can take a look at the example to see how it works: https://github.com/Nexmo/nexmo-node/blob/7142a0ccb6532cce7aeb4f65a6c40caeb4546710/examples/ex-number-pricing.js

[2018-06-26 02:16] #193 closed

[2018-06-29 04:36] #183 closed

[2018-07-02 08:59] Cariaga opened #195 "Sending Korean Text not working"
app.get('/SMS/:recipient/:message', function (req, res){
  let sender= "825080825012";
  let recipient = req.params.recipient.split(",");
  let message = req.params.message;

  //console.log(message);

  for (i = 0; i < recipient.length; i++) {
    nexmo.message.sendSms(sender, recipient[i], message,{type:'unicode'},
    (err,responseData)=>{
      if(err){
        console.log(err);
    }else{

[2018-07-02 09:01] jackTheRipper commented on #190
Hi @AlexLakatos , any update for that?

[2018-07-02 17:33] AlexLakatos commented on #190
Hi @jackTheRipper,
I've considered adding TypeScript typings and won't have the time until later this year with the re-write in version 3. Let me know if you'd like to add the typings yourself and I'll try to help.

Cheers,
Alex

[2018-07-02 17:37] AlexLakatos commented on #195
Hi @Cariaga ,

Can you show me the error you're getting? And maybe some sample text so I can try to reproduce your issue.

Cheers,
Alex

[2018-07-02 17:49] jackTheRipper commented on #190
Hi @AlexLakatos, that’s ok for me. However I will push it per functionalities if it’s ok for you instead of opening a big PR which will take ages for being reviewed.

I will start with the “verify” functionality. Is it ok for you?

[2018-07-20 14:33] #195 closed

[2018-07-20 15:49] AlexLakatos commented on #195
There is a help article detailing the 70 characters limit for unicode: https://help.nexmo.com/hc/en-us/articles/204076866-How-long-is-a-single-SMS-body-

[2018-07-21 17:45] mheap opened #196 "HTTP request body truncated"
When making a `PUT` request with a body that contains UTF-8 characters, the existing HTTP client doesn't seem to send all of the data.

e.g. Sending `{"text":`¿Cómo te llamas?"}` results in `{"text":`¿Cómo te llamas?` being sent to the server

There are two missing characters at the end, and two non-ascii characters in the payload (`¿` and `ó`) which leads me to believe that it's encoding related

[2018-07-31 11:11] arvi opened #197 "Promise seems to be not working"
Hello,

It seems the `async/await` pattern is not working.
[code]
Only the callback pattern is working. Is this a bug or just not supported? Thanks a lot.

[2018-07-31 11:45] mheap commented on #197
Hey @arvi,

Unfortunately only callbacks are supported at the moment. We'll be working on a promise based library later this year

[2018-07-31 13:11] fauna5 commented on #197
In the meantime you could always wrap the API using promisify (requires Node 8+)
https://nodejs.org/dist/latest-v8.x/docs/api/util.html

Here's an example using the sendSms API

[code]

[2018-07-31 15:01] arvi commented on #197
@mheap thanks for the clarification 😄
@fauna5 woaah! I didn't know about promisify. 😄

What I did was to return an `ES6 promise` like this:

[code]

[2018-07-31 17:58] #197 closed

[2018-08-01 08:45] fauna5 commented on #197
LGTM 👍

[2018-08-09 12:32] artit91 opened #198 "Request fails with stack trace what should not be"
request
[code]
body:
[code]

call:
[code]

[2018-08-14 13:34] artit91 commented on #198
I have loaded phone numbers from a JSON and tried to make the call with those phone numbers.

Actually, the problem wasn't related to the URL. The phone number contained special characters.

So this is a bug in the nexmo backend's JSON parser. The phone number was a valid string and the node client library produced a valid JSON but the backend wasn't able to parse it because the phone number conta

[2018-08-14 14:01] AlexLakatos commented on #198
What were the special characters in the phone number?

[2018-09-11 14:52] Regnised opened #201 "What does this error mean?"
I send SMS and get a callback with the error

` { message: 'Server Error',
statusCode: 504,
headers:
 { server: 'nginx',
   date: 'Tue, 11 Sep 2018 14:33:10 GMT',
   'content-type': 'text/html',
   'content-length': '176',
   connection: 'close',
   'x-frame-options': 'deny',
   'x-xss-protection': '1; mode=block;',
   'strict-transport-security': 'max-age=31536000; includeSubdomains',
   'content

[2018-09-11 14:59] #201 closed

[2018-09-11 16:50] AlexLakatos commented on #201
There was an incident with our API, you can monitor it here: https://www.nexmostatus.com/incidents/qdl3bhsq1cbz

[2018-09-27 03:27] 9yuntu opened #203 "nexmo.sendSms Latency:946754 ms ？？？！！！"
### I got the sms after about 20 minutes

##### here is my code:
[code]

##### response
[code]

Is there any way to solve this problem？？

[2018-09-27 07:35] 9yuntu commented on #203
I sent a total of 13 messages to two phones today, but only received eight

[2018-09-27 15:12] diamanthaxhimusa opened #204 "Post to nexmo using only Javascript."
Hello, is it possible to work with Nexmo with Javascript without using NodeJs? Thanks.

[2018-09-27 15:18] AlexLakatos commented on #204
There is a client side JavaScript SDK for one of the Nexmo APIs: https://developer.nexmo.com/stitch/overview. But that still requires a server component with Node.

[2018-09-27 15:19] AlexLakatos commented on #203
This feels like it's an issue with routing and not the node library. Can you please log a support request to support@nexmo.com?

[2018-09-27 16:27] AlexLakatos commented on #204
Technically, you can, it's an REST API. But since you have to authenticate the request in the process, that would mean compromising and publishing your API key and secret in the client for anyone to see and we strongly advise against it.
Can you tell me more about your use case please? You should be able to use only PHP without needing JavaScript for it.

[2018-09-27 21:30] diamanthaxhimusa commented on #204
@AlexLakatos I am using PHP to send the verification code and Javascript Ajax to verify it. But I am facing problems with mimetype when using Ajax get {dataType: 'jsonp'}, it throws error for mimetype, but the code is sent to the device. It returns me this error:
`Refused to execute script from 'https://api.nexmo.com/verify/json?callback=jQuery2110883670313380436_1538083025686&brand=xxxx&api_key=x

[2018-09-28 01:39] 9yuntu commented on #203
I have contacted the customer service to solve this problem, thanks so much~ (～￣▽￣)~

[2018-09-28 01:39] #203 closed

[2018-10-10 18:02] rahulkumaran opened #208 "Update year in license"
Currently, the year in license is 2016.
Would be great if we could change it to 2016-present as this would avoid copyright issues in the future.

[2018-10-11 10:04] #208 closed

[2018-10-16 03:00] fer22f commented on #196
Indeed, it is a real bug. I just checked out the source code and found it:
https://github.com/Nexmo/nexmo-node/blob/5a181611b327d730e163cd5f55c77a25c6cfe675/src/StreamResource.js#L30-L39

`Content-Length` is wrong, it's being counted by a string, in "JavaScript codepoints" (a bit weird, not exactly UTF-8 because of surrogate pairs). I will fill a pull request to fix it tomorrow.

[2018-10-16 13:48] cr0wst opened #213 "Media#upload Test Fails on Windows"
The following fails on Windows because there is no `/dev/null` file:

[code]

Since the test is only using `/dev/null` as a dummy file to test the upload functionality, it might be worthwhile to either provide a test asset, or to create and destroy a test asset before the test is run.

[code]

[2018-10-23 16:38] janowsiany commented on #213
@AlexLakatos if still valid i will work on that.

[2018-10-23 18:05] AlexLakatos commented on #213
that's still failing @janowsiany, feel free to work on it!

[2018-10-23 19:09] janowsiany commented on #213
What Windows version are you testing on? I checked on Windows 10 and it is fine.

[2018-10-24 00:04] geekysrm opened #223 "Error in grammar in README.md"
The line:
`the option exist to process `
should instead be`the option exists to process `

[2018-10-24 12:49] AlexLakatos commented on #213
@cr0wst what was your Node / Windows versions when you tested?

@janowsiany you can have a look at our upcoming Travis setup here for the targets https://github.com/Nexmo/nexmo-node/pull/216/files

[2018-10-24 21:00] janowsiany commented on #213
@AlexLakatos just checked this and Travis says that the build is successful.
https://travis-ci.org/janowsiany/nexmo-node/builds/445877030
Am i missing something?

[2018-10-24 23:57] cr0wst commented on #213
I think @AlexLakatos' comment might have been in reply to you asking if you could work on it, not to your proposed changes. It looks like this now tests fine with Windows and he's in the process of reviewing #221.

[2018-10-25 09:33] #213 closed

[2018-10-25 09:35] #223 closed

[2018-10-26 11:58] Archaeologist03 opened #225 "Refactor test/App-test.js to ES6"
May i go for this one?

[2018-10-27 22:57] anuragsachdeva28 opened #228 "Typos in README.md"
There are few grammatical as well as typing errors in Readme.md

[2018-11-02 12:24] sammachin opened #230 "Errors from Voice API return [[Object]]"
When making a request to the voice API with a bad parameter nexmo returns a 400 error and in the body it tells you which param was invalid, eg:
[code]

However the node library is parsing this response body and the key information about which parameter was invalid is lost as the debug prints:
[code]

I _think_ this is around here https://github.com/Nexmo/nexmo-node/blob/master/src/HttpClient.js#L1

[2018-12-18 14:02] fauna5 opened #233 "[BETA] "to" and "from" params are in different order between SMS and Messages"
Send a text message

`nexmo.message.sendSms(sender, recipient, message, options, callback);`

Send a Messages API message

`function send(to, from, message, callback)`

As they are not named parameters then it's easy to get mixed up. Should we swap then? Will it cause a lot of pain for exiting users.

[2019-01-03 14:16] judy2k opened #235 "Implement `getPrefixPricing`"
For 100% API coverage, the [getPrefixPricing](https://developer.nexmo.com/api/developer/pricing#pricing-by-prefix) endpoint should be implemented in the node library.

[2019-01-07 14:03] bidah commented on #56
I solved it this way:

first I made this function wrapper around `nexmo.verify.request`
[code]

Then you can wrap the function in a function that returns a promise like so:
[code]

[2019-01-08 07:55] judy2k commented on #144
This is not currently a sensible thing to implement.

[2019-01-08 07:55] #144 closed

[2019-01-08 10:00] AlexLakatos opened #236 "Support host overriding for both api.nexmo and rest.nexmo"

[2019-01-08 11:48] fauna5 commented on #233
@AlexLakatos any thoughts?

[2019-01-08 14:54] AlexLakatos commented on #233
the api is not order specific, but if it make life easier for you, I can swap them in the next beta

[2019-01-08 14:55] AlexLakatos commented on #233
it would help if I can see usage data from chart.io of the beta user agent and of this endpoint specifically

[2019-01-08 15:09] fauna5 commented on #233
There's no data in chart.io for the user agent :(

On Tue, Jan 8, 2019 at 2:55 PM Alex Lakatos <notifications@github.com>
wrote:

[2019-01-08 15:11] fauna5 commented on #233
It confused us twice so far, so it'd be good to swap. I'll send a PR. We will need to communicate this to existing customers. How do we do that? Should it be a major version bump too?

[2019-01-09 11:24] mheap commented on #233
This is only in the beta channel so we can do a minor version bump

[2019-01-09 17:57] AlexLakatos commented on #233
Talked to Hugh and got his blessing, looked at usage data and the disruption is minimal, and we can email the affected accounts directly.

[2019-02-01 00:42] sarkistlt opened #240 "users.create missing after upgrade"
I was on a version `2.1.0-beta-1`, so to generate JWT I was doing the following:

[code]

after upgrading to `2.4.0`, I'm getting error that `nexmo.users` is undefined, so how should I generate JWT after upgrade?

[2019-02-01 09:45] AlexLakatos commented on #240
nexmo.users is only on beta releases, as well as conversations. You'll need to update to the latest @beta, which is v2.4.3-beta-1
To do that you can `npm install nexmo@beta`

[2019-02-01 17:36] sarkistlt commented on #240
thanks for clarifying!

[2019-02-01 17:36] #240 closed

[2019-02-01 21:09] julien-c commented on #190
Very interested in this too. Considering the (small) size of the codebase, a full rewrite to Typescript would be even better (and seems like not too big of a project).

Let me know if that is something you'd be interested in.

[2019-02-01 21:11] jackTheRipper commented on #190
Hey, just finished the verify API for our project. I will push the .d.ts
file this week end
On Fri, 1 Feb 2019 at 22:09, Julien Chaumond <notifications@github.com>
wrote:

--
Jean Baudin
Email: Baudin.jean@gmail.com
Tel.: +31 (0) 6 57 69 76 35

[2019-02-02 11:18] jackTheRipper commented on #190
Done.

[2019-02-02 15:15] julien-c commented on #56
Also +1 for native Promise support in this library. It's 2019 guys! Everyone uses Promises now.

[2019-02-02 15:15] julien-c commented on #190
Awesome @jackTheRipper

[2019-02-04 11:12] AlexLakatos commented on #56
I'm going to do a re-write this year, and promises are on my list of features to add with the rewrite.

[2019-02-07 15:19] judy2k opened #242 "Implement Signature Validation"
The library should have a straightforward way to validate signatures of incoming requests from Nexmo's SMS API.

[2019-02-14 16:36] spyshower opened #243 "Expo support"
Hello,

I tried installing this package in my Expo (React Native) environment. I get this error:

After checking it up, I found that it's not possible to use Node.js packages in Expo. Are there any plans to fix that?

Or alternatively, how am I supposed to use Nexmo?

Thank you!

[2019-02-15 11:57] AlexLakatos commented on #243
Hi,

This isn't a client side library, it's a server side node library. As a security concern, we advise agains using the library in a client (React Native) application, but rather buid a middleware server (with express for example) that uses the nexmo library,  and then make http requests between your react native application and your middleware server using Nexmo.

What Nexmo API are you trying

[2019-02-15 12:43] spyshower commented on #243
Hey @AlexLakatos ,

I want to send a simple SMS in order to implement phone auth. I managed to do it with a simple fetch:

[code]
May I ask why I shouldn't do this on client?

Thanks!

[2019-02-15 16:29] AlexLakatos commented on #243
Hi,

Because that is not secure. Anyone who manages to decompile and take a look at the client code will have your key and secret and can use them to send SMSes from the account.

Cheers,
Alex

[2019-03-13 15:26] MarcDelp opened #245 "Add proxies support"
Hi,

I just started experimenting on Nexmo and I have an issue regarding my proxy configuration.
I'm running my Node.JS server locally with a ngrok to expose it to hooks, and I have configured my voice application to contact it when calling a given phone number.

My current pipeline is the following:
- user arrives on voice channel and gets a greating from the server;
- user then talks, what he sa

[2019-03-13 15:54] AlexLakatos commented on #245
Proxies are not currently supported in the library. That's the reason both this and the CLI are failing.

[2019-04-11 21:24] AdelBachene commented on #190
@jackTheRipper @AlexLakatos  any Update on publishing the .d.ts ?

[2019-04-12 10:19] jackTheRipper commented on #190
Hi @AdelBachene - I updated the PR based on the comment of @AlexLakatos - let's see if everything is alright for him

[2019-04-12 10:26] AlexLakatos commented on #190
I think the new update makes it ok for me. Are you using the typings in a project by any chance?

[2019-04-12 10:29] jackTheRipper commented on #190
Yes, we were using them in Adidas. Maybe @eduardostuart - @filfreire or @nekgasov can confirm we are still using it

[2019-04-16 10:48] mamunish opened #248 "how to build the nexmo script"
how to build the node-nexmo library to single JavaScript file it's possible or not

[2019-04-16 10:51] mamunish commented on #248
how to build the node-nexmo library to single JavaScript file it's possible or not

[2019-04-17 14:11] filfreire commented on #190
@jackTheRipper @AlexLakatos I confirm, it's still being in use, going forward with PR https://github.com/Nexmo/nexmo-node/pull/241/files would enables us to remove unnecessary code on our end 🙂

[2019-04-17 15:36] AlexLakatos commented on #190
Thanks for confirming, I'll release in the next update!

[2019-04-18 11:46] jackTheRipper commented on #190
Thank you @filfreire :D

We are a good WWE combo xD

[2019-04-18 17:21] filfreire commented on #190
@jackTheRipper only a matter of time to get the tag team championship belts 😉

[2019-04-25 15:33] AlexLakatos commented on #248
yes, it is

npm run compile should help

[2019-05-01 10:58] #248 closed

[2019-05-01 10:58] #243 closed

[2019-05-25 22:30] emclab opened #252 "sending process sends null error and result to callback and hung"
There is nexmo 2.4.1 and nodejs 10.15 in my backend server, sending SMS verification after a user signup. The nexmo SMS has been working fine for sometime but today no SMS verification was received and the nodejs server hung in callback. Here is the code:

    sendVcode1:async function(vcode, cell, cell_country_code, device_id, user_id = '') {

    switch(process.env.sms) {
        case "nexmo" :

[2019-05-26 09:26] AlexLakatos commented on #252
There hasn't been a new API or Node library release. There was an incident on the 24th with SMS delivery to US & Canada, and that caused message delays and failures. You can read more about it on https://www.nexmostatus.com/.

Did the issue with the callback resolve itself in the meantime?

[2019-05-27 23:36] emclab commented on #252
It was about the time when I was trying to send out SMS message. The code was working and there is no change on the code either. There was nothing returned (both err and result) and the callback did not know how to proceed. Maybe a snippet of code handling NULL return should be added to my callback.

[2019-05-29 08:54] AlexLakatos commented on #252
I think that would be best. And maybe set up delivery receipts, so you can see what happens to the message if it got delivered.

https://developer.nexmo.com/messaging/sms/code-snippets/delivery-receipts/node

[2019-05-29 08:54] #252 closed

[2019-06-12 04:45] felipeplets commented on #190
@AlexLakatos do you have an expected date for the next version?

[2019-06-12 05:56] AlexLakatos commented on #190
Tentative date is 17-21 June

[2019-07-15 15:21] Braunson commented on #18
#BringBackTheSandbox #Testing

[2019-07-16 10:59] sirolad opened #254 "Feature Request: Add phone number to successfully verified PIN check response"
When I call the API via `Nexmo.verify.check` , The post data for the request contains just
{request_id, PIN} and returns {
  request_id: 'XXXXXXXX',
  status: '0',
  event_id: 'XXXXXXXX',
  price: '0.10000000',
  currency: 'EUR'
}
It would be helpful to have this contain the verified phone number as well.

[2019-07-16 11:06] whitetigle opened #255 "Using library from a Cloud hosted function"
Hi!
I'm trying to use the lib from a Node.js hosted function but since it's a limited environment, some tests are failing, especially in regard to the UserAgent which can't be written since the lib can't read the package.json file.

So I get a warning: `Could not load package details`. The user agent is set to `'User-Agent': 'nexmo-node/UNKNOWN node/UNKNOWN`

And I think that's why I get HTTP 401

[2019-07-16 11:17] whitetigle commented on #255
After more testing using postman this time, it seems it's not a problem after all. I'll check elsewhere to understand where the problem comes from. Since it's a 401 then maybe it's something related to the jwt token.

[2019-07-16 11:37] whitetigle commented on #255
I enabled debug and here's the request I get when using the lib:
[code]

output is `info: response ended: 401`

[2019-07-16 13:13] whitetigle commented on #255
ok it seems I had a problem with some config parameters. So it's solved on my side.

[2019-07-16 13:13] #255 closed

[2019-07-17 03:22] AlexLakatos commented on #255
Thanks for figuring it out. If you think it's a common problem, post the solution here as well please for others to find.

[2019-07-17 03:25] AlexLakatos commented on #254
We're passing the API response directly, it's not a nexmo-node feature.

Thanks for filing the issue btw, I'll forward this to our Product team as a feature request for the API! It would help them prioritise this if you explained your use case for having the phone number as well in that response.

[2019-07-17 06:55] whitetigle commented on #255
Hi! No real problem there. Thanks.I really messed up with the parameters.
Nonetheless, what I can do is confirm that we can use nexmo in a serverless function without any problems 😃

[2019-07-17 06:56] whitetigle commented on #255
However my remark regarding User-Agent is still valid: it does not work in that environment. But it seems it really does not matter.

[2019-07-17 07:05] AlexLakatos commented on #255
It really doesn't, we're using the User-Agent to segment usage, not really blocking anything. I still haven't figured out how to access the package.json in a serverless environment, so I can have consistency.

[2019-07-17 16:17] lornajane commented on #18
@Braunson sorry, Nexmo does not have the sandbox but if you need some credit to test something, please let us know on devrel@nexmo.com what you're working on and your API key and we'll sort something out.

[2019-07-28 20:28] sirolad commented on #254
Thanks @AlexLakatos , my use case is when verifying I have to pass the phone number along the PIN and request id to the server so that I can tag the verified user to a phone number I already know. though if I had saved the request Id in the db, I could have use that to reference the user but because it is shortlived(5 mins) I did not see any point doing so. Having the phone number with the verifie

[2019-08-21 18:11] lornajane commented on #145
Looks like this was answered, closing (but re-open if you still need help)

[2019-08-21 18:11] #145 closed

[2019-09-10 06:02] AlexLakatos commented on #242
fixed in #261

[2019-09-10 06:02] #242 closed

[2019-09-27 05:44] Anilm19 opened #268 "Unable to use NexmoClient in DotnetCore Web Application"
rtc_cache.js:26 Refused to create a worker from 'blob:https://ApplicationName/03e4c988-990e-49ae-a4b8-fd4d84cc6a39' because it violates the following Content Security Policy directive: "script-src * 'unsafe-inline' 'unsafe-eval'". Note that 'worker-src' was not explicitly set, so 'script-src' is used as a fallback.

 rtc_cache.js
 this.worker = new Worker(URL.createObjectURL(cache_worker.cache_wor

[2019-09-27 09:31] AlexLakatos commented on #268
Hi,

This is an issue related to the nexmo-client library, not the nexmo Node.js library. And this is the repo for the Node.js server SDK.

Could you please send an email with this problem to support@nexmo.com?

Thanks,
Alex

[2019-09-27 11:07] #268 closed

[2019-11-07 14:14] lornajane commented on #228
Closed, I think we have this covered.

[2019-11-07 14:14] #228 closed

[2019-11-24 08:47] rinovethamoses97 opened #276 "Not able to import module nexmo"
When we try to import the module using require("nexmo"), it throws the below error.
"Cannot find module 'verror'"

[2019-11-26 07:13] AlexLakatos commented on #276
What version of Node.js are you running? And which version of the nexmo library are you trying to import?

[2019-11-28 16:37] tapz commented on #90
Looks like the docs have not yet been updated yet.

After integrating to Twilio, I did the same to Nexmo. Very similar apis, but in Twilio "statusCallback" means a webhook url and in Nexmo "callback" means something undocumented, which after digging is something totally different than in Twilio. Both apis are a bit outdated as they should use promises.

The description of the options parameter poi

[2019-11-28 18:05] soullivaneuh opened #277 "ApplicationId is required on Typescript types while it should not"
According to the documentation (and the example from your dashboard):

But the option is declared as required here:

https://github.com/Nexmo/nexmo-node/blob/58935f0baf6c76f61f82717da883bd62853543d1/typings/index.d.ts#L6

AFAIK, it should be `applicationId?: string;`.

[2019-11-28 18:10] soullivaneuh opened #278 "Typescript: message proprety does not exist on type 'Nexmo'"
With the following code:

[code]

I have:

[code]

Because of that, the library is unusable at all.

[2019-11-28 18:16] soullivaneuh commented on #278
Correction, it works this way:

[code]

But now I can take benefit of strict typing. For example with this class:

[code]

I will have the following error on the class property:

[code]

I think import method should be fully supported to fix this issue.

[2019-11-28 18:42] soullivaneuh opened #279 "Document how to manage error"
Having one or two example about how to manage error (one with callback, one with try/catch) would be great.

I tried looking at your code and did some test with this piece of code:

[code]

I let `NEXMO_API_KEY` and `NEXMO_API_SECRET` alone to produce an error, but nothing happen at all.

Waiting documentation update, could you please provide a working example?

[2019-11-29 10:30] AlexLakatos commented on #277
Yes, you're right. Thanks for submitting the issue.

Fixed in #280 and will be released in v2.5.2 next week.

[2019-11-29 10:32] AlexLakatos commented on #278
The typings support is partial for now and the typings work for the Verify API currently. The SMS API is next on the list to add support for.
We also accept pull requests if you'd like to help fix this issue.

[2019-11-29 10:35] AlexLakatos commented on #279
Sure. If it's not a syntax or validation error, the `nexmo.message.sendSms` will not throw.

The API errors will come back on the callback function. Here is example usage for SMS: https://developer.nexmo.com/messaging/sms/code-snippets/send-an-sms/node

[code]

[2019-11-29 20:54] soullivaneuh commented on #278
I'm on a really no time moment sorry. If the issue is still not resolved when I'll have more time, I'll notify you about starting a work on it. :+1:

[2019-11-29 23:25] soullivaneuh commented on #279
Oh right, I was confused because some docs is present on the readme. I was to aware about this documentation.

Thanks!

[2019-11-29 23:25] #279 closed

[2019-11-30 13:08] soullivaneuh commented on #277
Thanks for the reactivity, I appreciate it! :+1:

[2019-11-30 13:09] soullivaneuh commented on #277
For other people willing into the issue, simply add en empty string at this option:

[code]

[2019-12-04 08:50] AlexLakatos commented on #277
This has been fixed and released in nexmo@2.5.2

[2019-12-04 08:50] #277 closed

[2019-12-23 12:57] lornajane commented on #276
Closing due to inactivity, but please do re-open if you have any more information that would allow us to help more with this issue!

[2019-12-23 12:57] #276 closed

[2020-01-20 10:19] alireza1384 opened #285 "aghababaee"
Alireza.aghababaee

[2020-01-20 10:19] #285 closed

[2020-01-22 02:59] rosnaib11 opened #287 "How to send to sms to specific country"
I'm based on philippines but the client is on singapore is it automatic or do I have to config something before it works?

[2020-01-22 15:18] AlexLakatos commented on #287
The Nexmo routing is adaptive and automatic, so you won't need to config anything location specific for SMS.

Depending on your specific use case, you might need to rent a Singapore virtual number in the [Nexmo dashboard](https://dashboard.nexmo.com/buy-numbers), and use that as the Sender ID when you send the SMS with the library, for example:

[code]

[2020-01-22 19:17] Rotorsoft commented on #124
Hi Sam. Do you have some sample code to share showing how to stream an mp3 file to the websocket? I'm trying to record the entire conversation and when the audio is streamed via the api (calls.stream...) it doesn't get picked up by the recorder nor it's streamed back through the socket (I guess that's the intended functionality). Thanks for your help!

[2020-01-22 19:20] Rotorsoft opened #288 "Requesting sample code showing how to stream mp3 file to websocket"
Hi. Do you have some code to share showing how to stream an mp3 file to the websocket? I'm trying to record the entire conversation and when the audio is streamed via the api (calls.stream...) it doesn't get picked up by the recorder nor it's streamed back through the socket (I guess that's the intended functionality). Thanks for your help!

[2020-03-05 18:58] ecwyne commented on #278
@AlexLakatos is there any interest in converting the entire project to Typescript? The current structure would be map fairly easily, and it's much easier to keep ts docs up to date and correct that way.

I would be happy to take a look at setting it up if you let me know which branch I should use as a base

[2020-03-13 02:49] zolbayars opened #292 "nexmo.message.sendSms is not working on AWS lambda"
I've deployed a phone number verifier lambda function through serverless. The `nexmo.message.sendSms` is working without an issue on my local dev environment (tested it with `serverless offline`). But I don't think it's working after deployed to AWS.

**Here's what I'm doing:**

[code]
See that log messages inside the callback? (`console.log('nexmo err', err);`, etc). They're not showing up after

[2020-03-13 05:38] nathalieDOXA commented on #197
Hi @fauna5 , could you let me know what is the nexmoClient.message that you bind for the request?
Thank you in advance.

[2020-03-13 06:26] zolbayars commented on #292
Update:
I tried with an internal API and it's working fine.
[code]

But it says:

What shall I do?

[2020-03-13 10:40] AlexLakatos commented on #197
@nathalieDOXA `nexmoClient` is the `Nexmo` instance. Our docs usually have this code for instantiating a client:
[code]

so if you instantiate it with `nexmoClient` instead, it should work for that code @fauna5 was referencing:

[code]

[2020-03-13 10:43] AlexLakatos commented on #292
The first code you posted has a `return null` and I think that means the Lambda finishes execution before the callback returns, and the callback code is never running.  What happens if you remove the `return null` from there, and put it inside the callback?

[2020-03-28 18:30] TrySound opened #294 "Replace deprecated "request""
"request" package is deprecated.

https://github.com/request/request#deprecated

A few possible alternatives
- https://github.com/node-fetch/node-fetch
- https://github.com/axios/axios
- https://github.com/sindresorhus/got

[2020-04-01 07:14] Snelius30 opened #295 "Nexmo constructor changes of given options object"
Here https://github.com/Nexmo/nexmo-node/blob/master/src/index.js#L103
must be copy of an options object instead of direct usage.

[2020-04-01 08:29] AlexLakatos commented on #295
Can you explain why it must be a copy, please?

[2020-04-01 08:30] AlexLakatos commented on #294
Thanks for the issue, we're already looking at alternatives to replace request.

[2020-04-01 11:48] Snelius30 commented on #295
Cuz it's changing passed object. Otherwise i need to make a copy to pass the options object which wrong, no one libs should change passed args without return needs.

[2020-04-02 03:43] Snelius30 opened #296 "Extend number.buy() method params"
the API has additional param `target_api_key` which need to add to the lib method. Thanks.

[2020-04-02 09:43] AlexLakatos commented on #296
Thanks, we'll add that in!

[2020-04-02 10:21] AlexLakatos commented on #295
That is not changing the options object though. It's changing some other class properties, that aren't passed in.

[2020-04-02 11:17] Snelius30 commented on #295
I can wrong with code line. Just check this out
`const Nexmo = require('nexmo');
const options = {};
const nexmo = new Nexmo({ apiKey: 'testKey', apiSecret: 'testSecret' }, options);
console.log(options);`
The options object will changed with internal data.

[2020-04-02 12:14] AlexLakatos commented on #295
OK. Found the culprit: https://github.com/Nexmo/nexmo-node/blob/master/src/Nexmo.js#L40
Changing that to `this.options = Object.assign({}, options);` should do the trick. I'll get on it.

[2020-04-02 16:43] tbedford opened #297 "Server SDK"
I think Client Libraries are now referred to as Server SDKs. I would raise a PR but I don't have time at the moment, sorry!

[2020-04-02 18:18] AlexLakatos commented on #297
Thanks, made a PR for it.

[2020-04-03 08:59] tbedford commented on #297
According to Chris T they want to leave as is for now. Sorry about that.

[2020-04-03 11:19] AlexLakatos commented on #297
No worries.

[2020-04-03 11:19] #297 closed

[2020-04-25 21:53] crutchcorn opened #300 "JWT Error while using Channel beta API"
The getting started guide for using the Channel API with node says to use the following code:

[code]

However, when trying to use this code in my project I'm shared the following error:

[code]

[2020-04-28 18:37] AlexLakatos commented on #300
Hi,

Can you reference the link where you found that code snippet, please? It seems it's incomplete, and I'd like to fix the docs for it.
The correct docs for using the Messages API are here: https://developer.nexmo.com/messages/code-snippets/sms/send-sms/node
We've deprecated BasicAuth in the meantime, so you'll need an Application with Messages capabilities for the SDK to work with the API.

[2020-04-28 18:44] crutchcorn commented on #300
Oh, okay. That makes things a lot more clear. None of the other docs I was looking at made it clear that it was to use an app, so that clears up things.

The docs that the code sample comes from is the dashboard code sample:

https://dashboard.nexmo.com/getting-started/messages

[2020-05-21 11:12] kapil-adroitminds opened #301 "Delete all the messages from a conversation"
Hi,
I am using conversation API and is it possible to clear all the messages from a conversation in a single call.

Ideally I should be able to provide a conversationId and an event type = 'text' to delete all the messages in a conversation. Is it possible with current API?

[2020-06-06 14:46] Snelius30 commented on #296
When i could expect this ability?

[2020-06-09 12:16] gine opened #303 "A voice call recive everytime 'answered' status"
I'm trying to build an alert machine. I need that when no one answer, a new call start to another number. I can do the first call but listening the event i recive everytime the 'answered' status even if the called reject or he doesn't answer.

Here the code:

[code]

Here Logs:
[code]

[2020-06-09 12:57] benhayehudi commented on #303
Hi there,

Can you explain what you mean by:

[code]

What does it mean specifically in your application scenario for the outbound call you initiate to be rejected or not answered? Is it answered by a voicemail? Does it just continue ringing?

Thanks for clarifying.

[2020-06-09 13:24] gine commented on #303
Nexmo = N
Phone 1 = A
Phone 2 = B

X = Answer = the called click on the green button
Y = Reject = the called click on the red button
Z = No answer = the called have no action and phone stop to ringing

N call A
if A.X -> N.stop
else (Y || Z)
 N call B

[2020-06-11 09:25] gine commented on #303
Yes. :(

[2020-06-11 11:36] benhayehudi commented on #303
@gine - Would you be able to join us on our community Slack? I believe we can address this better in real-time there. The link to join is at https://developer.nexmo.com/community/slack. When you join, we can continue this conversation in the #voice-api channel.

[2020-06-11 14:20] Rotorsoft opened #306 "stream API not playing audio when using signed url"
The Stream API is working fine with public urls, but when using a properly formatted signed url (with extra query string parameters), the audio won't play in the voice call. Tested the same signed url with the Twilio API and works fine, so it's not an issue with the url.

[2020-06-26 09:07] lornajane commented on #287
I don't think we need to do anything more so I'll close this issue for now. Shout if you need anything else!

[2020-06-26 09:07] #287 closed

[2020-06-26 09:08] lornajane commented on #254
This is open as a feature request with the product owners. Since there's nothing more to do on this library, I'll close this issue for now - if support gets added to the API itself then we'll add it to the library.

[2020-06-26 09:08] #254 closed

[2020-06-26 09:09] lornajane commented on #158
Closed due to inactivity

[2020-06-26 09:09] #158 closed

[2020-06-26 09:09] lornajane commented on #150
Closed due to inactivity  (but re-open if you have more info for us)

[2020-06-26 09:09] #150 closed

[2020-07-11 12:16] soullivaneuh commented on #78
This one is quite crazy IMO. If I follow the TS API you made, I should implement the verify API that way:

[code]

Here `VerifyError` contrains the status and the error_text fields.

But If I try this with bad credentials for example, I have the error... on the `result` object. :thinking:

To me it's a bug as this does not respect the typescript interface.

Am I right?

[2020-07-11 14:20] soullivaneuh commented on #197
Using Promise as default is quite a must have to avoid some hacks like https://github.com/Nexmo/nexmo-node/issues/197#issuecomment-409252927 (thanks @arvi BTW!).

Could we re-open the issue until this got implemented?

[2020-07-14 15:45] gautiermorel opened #308 "The API response could not be parsed."
Hello,

I recently got this error:

`{
Jul 13 13:10:24 babysit-eu-api app/web.4   status: 403,
Jul 13 13:10:24 babysit-eu-api app/web.4   message: 'The API response could not be parsed.',
Jul 13 13:10:24 babysit-eu-api app/web.4   body: '<!DOCTYPE html>\n' +
Jul 13 13:10:24 babysit-eu-api app/web.4     '\n' +
Jul 13 13:10:24 babysit-eu-api app/web.4     '\n' +
Jul 13 13:10:24 babysit-eu-api app/we

[2020-07-16 14:31] dragonmantank commented on #308
This looks like the IP address of either the server you are using or your computer (if doing local development) was flagged by Cloudflare, which we have as part of our stack for spam/bot/attack prevention.

Were you running this code from a local instance or is this running on a server? If it is a server, you may want to contact your host as, especially if this is a shared server, someone may be u

[2020-07-16 14:31] #308 closed

[2020-07-20 21:54] kellyjandrews commented on #90
This was added in this update - https://github.com/Nexmo/nexmo-node/commit/8ff1a5527b661453d212e99c27a77b8eff6a627d#diff-04c6e90faac2675aa89e2176d2eec7d8R72

[2020-07-20 21:54] #90 closed

[2020-07-20 21:58] kellyjandrews commented on #78
Thanks for this @soullivaneuh - I will take a look at this soon and let you know what I can figure out. I'm currently working through some old issues and catching up with the status of the SDK.  Thanks again!

[2020-07-23 14:00] #303 closed

[2020-07-23 14:04] kellyjandrews commented on #301
You can delete an entire conversation, but not the messages. You would need to filter messages as a soft delete.

[2020-07-23 14:04] #301 closed

[2020-07-23 14:10] kellyjandrews commented on #292
@zolbayars were you able to get through this issue?

[2020-07-23 14:16] kellyjandrews commented on #288
I think what you would need to do here is connect another call to the websocket and stream from there. Let me know if you are still having issues.

[2020-07-23 14:16] #288 closed

[2020-07-23 14:16] #204 closed

[2020-07-23 14:20] kellyjandrews commented on #278
Wanted to drop a line here - I'm working on setting up a v3 for the Node SDK, and it will be built with TypeScript.  There will be some typings added to the current version, but we have bigger plans for v3 and will focus the effort there for a better overall experience.

If you want to submit a pull request for v2 to help me out - more than happy to take a look and see what we can implement. Thank

[2020-07-23 14:24] #190 closed

[2020-07-23 14:27] kellyjandrews commented on #230
It looks like this was fixed - closing.

[2020-07-23 14:27] #230 closed

[2020-07-23 14:28] kellyjandrews commented on #178
Outdated

[2020-07-23 14:28] #178 closed

[2020-07-23 14:31] kellyjandrews commented on #233
@mheap - Based on the documentation, looks like this was never implemented - is it still an issue, or can we close this?

[2020-07-23 14:33] #300 closed

[2020-07-23 14:35] kellyjandrews commented on #56
Merge with #294

[2020-07-23 14:35] #56 closed

[2020-07-23 14:47] #166 closed

[2020-07-23 14:51] kellyjandrews commented on #156
This appears to be implemented.

[2020-07-23 14:51] #156 closed

[2020-07-23 14:59] #236 closed

[2020-07-23 15:00] kellyjandrews commented on #236
This appears to be implemented.

[2020-07-23 15:02] #159 closed

[2020-07-23 15:02] #225 closed

[2020-07-23 15:03] #292 closed

[2020-07-23 15:19] kellyjandrews commented on #300
Going to work on getting the dashboard updated for this one - thanks for bringing it up!

[2020-07-23 21:29] kellyjandrews commented on #235
Already implemented.

[2020-07-23 21:29] #235 closed

[2020-07-24 12:53] mheap commented on #233
Still an issue, but is a breaking change. Push to v3

[2020-07-24 13:34] kellyjandrews commented on #233
@mheap Wouldn't I be changing the messages beta api?

[2020-07-24 13:37] mheap commented on #233
Yep. I'm assuming there will be a beta messages module for v3 and we could make the change there

[2020-07-24 13:38] kellyjandrews commented on #300
This page was replaced with the new sandbox, so no one should see this code snippet. Thanks again!

[2020-07-28 13:09] #295 closed

[2020-08-06 05:48] Redouane64 opened #313 "Error nexmo_1.default is not a constructor on typescript"
Hello!

I am using this library in NestJS project with typescript. here is example:

[code]
When i run the app, this error occur:
[code]

Any ideas on how to solve this issue? i am still quite new to Typescript and JS

[2020-08-06 11:52] kellyjandrews commented on #313
Thanks @Redouane64 for this - I'm looking into this issue on my end as well, and should hopefully have a solution tomorrow or early next week. I'll get back with you as soon as I can.

[2020-08-10 10:07] lukeocodes opened #314 "[BETA] error when fetching paginated results of members"
trying to request paginated results of conversation members

[code]

we get a `HttpClient.request` error

[code]

[2020-08-10 13:51] kellyjandrews commented on #314
Thanks @lukeocodes I'll take a look.

[2020-08-10 19:28] kellyjandrews commented on #313
Hey @Redouane64 - looks like you may be able to add the following to your code to prevent the constructor issue -

[code]

Let me know if this helps you out any. The library has some types added, but we are still working on getting a plan for updates to the type definitions.

[2020-08-10 21:14] #313 closed

[2020-08-13 20:28] #296 closed

[2020-08-14 14:22] lukeocodes commented on #314
This is totally an implementation issue and it's right there in my code.

```nexmo.conversations.members.next(prevPage, pageOpt, findAndRemoveOldMembers)```

should be

```nexmo.conversations.members.next(prevPage, pageOpt, findAndRemoveOldMembers)```

[2020-08-14 14:23] lukeocodes commented on #314
This is totally an implementation issue and it's right there in my code.

```nexmo.conversations.members.next(prevPage, pageOpt, cb)```

should be

```nexmo.conversations.members.next(prevPage, cb)```

[2020-08-14 14:23] #314 closed

[2020-08-14 14:51] kellyjandrews commented on #314
Thanks for letting me know @lukeocodes

[2020-08-17 19:55] tapz opened #317 "TypeError: Nexmo is not a constructor"
Upgraded from 2.8.0 to 2.9.0 and now getting this error:

[code]

[code]

[2020-08-17 19:59] kellyjandrews commented on #317
Thanks - I'll take a look.

[2020-08-17 20:05] kellyjandrews commented on #317
@tapz I guess I'm not really sure why this happens - the code for the constructor hasn't changed, and I have it working locally as well.

I've run into this error before, and added

`/// <reference path="../node_modules/nexmo/typings/index.d.ts" />`

to get it to reference the type file - but I'm not exactly sure why it lost the reference in the first place.  As soon as I can find the culprit, I'l

[2020-08-17 20:11] tapz commented on #317
Thanks. I downgraded back to 2.8.0 and don't see the error anymore.

[2020-08-17 20:14] kellyjandrews commented on #317
Thanks - I can't seem to reproduce locally now - trying to get that to happen so I can figure it out.

[2020-08-17 21:07] kellyjandrews commented on #317
We have a fix for this coming shortly https://github.com/Nexmo/nexmo-node/pull/318

Thanks @mheap!

[2020-08-17 21:48] kellyjandrews commented on #317
v2.9.1 should have the issue resolved - let me know if you see anything else.

[2020-08-17 21:48] #317 closed

[2020-08-17 21:52] kellyjandrews commented on #278
Message Types were added in v2.9.1 - let me know if you have any other issues.

[2020-08-17 21:52] #278 closed

[2020-08-18 23:41] Nikos-kun opened #319 "Error: Cannot find module 'nexmo' & error TS2307: Cannot find module nexmo"
Hello, I used the node nexmo library and followed the instructions from this page:

https://dashboard.nexmo.com/getting-started/verify?firstLogin=true?

I use the nestjs framework with typescript.

Everything works fine as long as I'm in development, but when I try to build on the server I get these errors:

**Error: Cannot find module 'nexmo'**
**error TS2307: Cannot find module nexmo**

I think

[2020-08-19 01:14] kellyjandrews commented on #319
Can you check if you are on version 2.9.0 or 2.9.1?

[2020-08-19 01:15] Nikos-kun commented on #319
From package.json: "nexmo": "^2.9.1",

[2020-08-19 13:22] kellyjandrews commented on #319
I'm going to take a look this morning and try to replicate to see what I can figure out.

[2020-08-19 13:23] Nikos-kun commented on #319
Thank you!

Do you need me to send you some of my code?

My now tsconfig.json for example? Or something else?

[2020-08-19 13:25] Nikos-kun commented on #319
### Update:

I made a question today in stack overflow too: https://stackoverflow.com/questions/63487624/error-cannot-find-module-nexmo-error-ts2307-cannot-find-module-nexmo

[2020-08-19 13:25] kellyjandrews commented on #319
That would probably help a great deal - is there a way I can clone your repo? I've never used NestJS, so I'm starting from scratch.

[2020-08-19 13:27] kellyjandrews commented on #319
Hopefully we find a solution - I've either broken our typescript implementation, or there is another solution. I would think that using a packaged library wouldn't cause this problem, so it's probably me.

[2020-08-19 13:27] kellyjandrews commented on #319
You can also test this out on your end - install `nexmo@2.8.0` and let me know if this goes away.

[2020-08-19 13:28] Nikos-kun commented on #319
I will try right away! Should I first _npm uninstall_ the previous nexmo I installed yesterday?

[2020-08-19 13:31] kellyjandrews commented on #319
May as well, but I don't think you'd need to.

[2020-08-19 13:45] Nikos-kun commented on #319
So what I did now:

1. npm uninstall nexmo
2. npm install nexmo@2.8.0
3. Build in production failed with: Error: Cannot find module 'nexmo'
4. Added in tsconfig.json -> "moduleResolution": "node" and builded in production, failed with: Error: Cannot find module 'nexmo'
5. Changed "moduleResolution": "node" to "moduleResolution": "classic" and builded for production, failed with: src/main.ts(1,29):

[2020-08-19 13:47] Nikos-kun commented on #319
Should I keep asking the library into my service like this:

const Nexmo = require('nexmo');

Or should I change it to something like this:

import Nexmo from 'nexmo' ?

[2020-08-19 13:50] kellyjandrews commented on #319
Ok - so seems to be something related with how our library interacts with NestJS specifically.

You can try using `import Nexmo from 'nexmo'` and see if that makes any difference - but I'm not sure it will.

You might also try referencing the `d.ts` file with

`/// <reference path="../node_modules/nexmo/typings/index.d.ts" />`

[2020-08-19 13:57] Nikos-kun commented on #319
![Annotation 2020-08-19 165501](https://user-images.githubusercontent.com/22598082/90643954-d8b6df80-e23c-11ea-8cdc-edcfaf949409.png)

Reference it like this gives me this error:
`nest-ffs-backend/node_modules/nexmo/typings/index.d.ts' is not a module.ts(2306)`

[2020-08-19 13:58] kellyjandrews commented on #319
It would be exactly as written with the triple slashes and everything, at the top of the page.

[2020-08-19 14:04] Nikos-kun commented on #319
`import { Nexmo } from "../../../node_modules/nexmo/typings/index.d.ts"
`
![Annotation 2020-08-19 165501 2](https://user-images.githubusercontent.com/22598082/90644856-ea4cb700-e23d-11ea-96e4-87698b2998b1.png)

`import { Nexmo } from "../../../node_modules/nexmo/typings/index"`
![Annotation 2020-08-19 165501](https://user-images.githubusercontent.com/22598082/90644923-018ba480-e23e-11ea-9cf3-21991

[2020-08-19 14:05] kellyjandrews commented on #319
[code]

[2020-08-19 14:09] Nikos-kun commented on #319
In development it seems it doen't gives errors. But in production it gives this:

![Annotation 2020-08-19 170843](https://user-images.githubusercontent.com/22598082/90645510-aefeb800-e23e-11ea-909d-f0e9a9798e08.png)

[2020-08-19 14:12] kellyjandrews commented on #319
Ok - it's just not able to find the module for some reason. I'll see what I can figure out on my end.

[2020-08-19 14:15] Nikos-kun commented on #319
As I wrote in stack overflow:

A friend of mine told me to check something about installing typings but NestJs already uses @types which from what I read is a more updated version of typings.

Can it be something like this? I don't know what typings are and I haven't used them so far.
So I don't know if installing them, may cause problems with NestJs. I saw the folder into node_modules/nexmo/ is c

[2020-08-19 14:32] kellyjandrews commented on #319
Can you post your `tsconfig.json` for me as well?

[2020-08-19 14:33] Nikos-kun commented on #319
{
  "compilerOptions": {
    "module": "commonjs",
    "declaration": true,
    "removeComments": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es2017",
    "sourceMap": true,
    "outDir": "./dist",
    "baseUrl": "./",
    "incremental": true,
    "esModuleInterop": true
  },
  "exclude": ["node_modules", "dist"]
}

[2020-08-19 15:40] kellyjandrews commented on #319
Ok - tried a few things from a fresh install, and here is what I got to work:

//tsconfig.json
[code]

//app.controller.ts
[code]

I then ran

[code]

[2020-08-19 16:07] Nikos-kun commented on #319
Is this "nexmo": "^2.8.0" or "nexmo": "^2.9.1" ?

[2020-08-19 16:08] kellyjandrews commented on #319
[code]

[2020-08-19 16:35] Nikos-kun commented on #319
Where did you ran:

Inside VSCode's terminal?

[2020-08-19 17:03] kellyjandrews commented on #319
Correct - that was in a terminal.

[2020-08-20 08:18] Nikos-kun commented on #319
If I do it in the terminal of vscode, it works for me too.

What I meant when I said it doesn't work in production, is that when I'm building it up on the server live it makes the errors I told you.

I'm using Docker for the build.

### Update:
**Solved!**

I just noticed that for some reason the _**RUN npm install**_ inside the **Dockerfile** wasn't creating the nexmo folder in the node_modules.

[2020-08-20 08:19] #319 closed

[2020-09-29 15:15] baptistemarchand opened #353 "[typescript] Use discriminated unions for `MessageRequestResponse`"
The TypeScript typing for `MessageRequestResponse` could be improved.

Here is the current typing:
[code]

So when I get a message the type is `MessageRequestResponseSuccess | MessageError` and TypeScript doesn't let me access the fields in either types, only the `status` field because it is present in both types.
For example:
[code]
To fix this you just have to have a field that is present in bot

[2020-09-29 18:29] kellyjandrews commented on #353
Good info - much appreciated.  We currently offer very minimal support for Typescript, but I'm working on a new major version which will address more of these issues.

[2020-09-30 12:38] Sorunome opened #354 "Typescript typigns not working"
## Expected Behavior
You should be able to import the module with typescript: `import Vonage from "@vonage/server-sdk";`

## Current Behavior
There are multiple issues not allowing it to import correctly:
1. The module name in `typings/index.d.ts` is wrong: It is currently `vonage`, but needs to be `@vonage/server-sdk` to read `declare module '@vonage/server-sdk' { ... }`
2. `VonageApiError` is no

[2020-09-30 14:55] kellyjandrews commented on #354
Thanks - I'll get a new version pushed out soon as possible.

[2020-10-01 03:13] rafaeelaudibert commented on #294
As part of Hacktoberfest, could I potentially replace the usage of request with something suggested by @TrySound? I personally like Axios and think it would be a good fit for the project.

[2020-10-01 06:35] OmkarPh commented on #294
Hi @AlexLakatos can I work on this?
I prefer fetch though

[2020-10-01 07:03] mheap commented on #294
This issue is outdated due to work on a new version of this SDK. Thanks for your interest!

[2020-10-01 07:03] #294 closed

[2020-10-01 12:57] kellyjandrews opened #359 "Account Types"
Create typings for Account API.

[2020-10-01 12:58] kellyjandrews opened #360 "Application Types"
Create typings for Application API

[2020-10-01 12:59] kellyjandrews opened #361 "Media Types"
Create types for Media API

[2020-10-01 12:59] kellyjandrews opened #362 "Number Insight Typings"
Create types for Number Insight API.

[2020-10-01 13:00] kellyjandrews opened #363 "Number Types"
Create Typings for Number API

[2020-10-01 13:00] kellyjandrews opened #364 "Voice Types"
Create typings for Voice API

[2020-10-05 12:25] #354 closed

[2020-10-05 19:51] 3scava1i3r commented on #363
can you please elaborate on the same

[2020-10-05 19:59] damn-dvlpr commented on #363
Just came here to say Hi to @3scava1i3r

[2020-10-05 22:08] kellyjandrews commented on #363
Hey @3scava1i3r - we have a Number API in the repo that would need types created for it.

The functionality is here - https://github.com/Vonage/vonage-node-sdk/blob/master/src/Number.js
Documentation is here - https://developer.nexmo.com/api/numbers
Types file is here - https://github.com/Vonage/vonage-node-sdk/tree/master/typings

Let me know if you have any other questions. Thanks!

[2020-10-07 00:05] PeppermintNDaisies commented on #364
Hello! I would like to work on this issue! What is the expected result? I saw the similar issue #363 but I still don't know what should be done, add a an interface in index.d.ts file? what exactly are the types?

[2020-10-07 12:53] kellyjandrews commented on #364
Hey @PeppermintNDaisies - thanks for the offer.  Take a look at https://github.com/Vonage/vonage-node-sdk/pull/372 for a good example of what we are after.  The types are in the API reference - https://developer.nexmo.com/api/voice

[2020-10-07 15:16] PeppermintNDaisies commented on #364
Perfect, thanks! I'll start working on this

[2020-10-07 15:56] kellyjandrews opened #377 "Allow for Full URL Overrides in Constructor"
## Expected Behavior
We want to allow for a full url or domain to be used in a `apiHost` or `restHost` option.

[code]
[code]

## Current Behavior
Currently the NodeJS library allows the user to override just the domain portion of the URL and the SDK throws an ENOTFOUND error:

[code]

## Possible Solution

There are two parts to this issue - 1) the options parsing, 2) How API's are called from th

[2020-10-07 18:39] i-am-jeetu commented on #377
Hi @kellyjandrews, I want to work on this. This will be my first contribution to Vonage. Can you please assign this to me.

[2020-10-07 19:24] Raj-Datta-Manohar commented on #377
Hi, can I work on this?

[2020-10-07 23:27] kellyjandrews commented on #377
@Raj-Datta-Manohar There is already a pull request. Thanks for the offer!

[2020-10-08 03:04] PeppermintNDaisies commented on #364
Hello @kellyjandrews! I submitted a PR for this issue #379, I hope it helps, I tried my best to abstract the Voice API types and follow the code style of the project in order to get it right. If there's something wrong or that needs to be changed (or something I didn't get right) let me know and I'll do my best to fix it.

[2020-10-08 12:17] kellyjandrews commented on #364
@PeppermintNDaisies Thanks for the submission - I'll be reviewing this soon.

[2020-10-08 18:31] privateOmega commented on #363
@kellyjandrews I tried my hands at this issue, raising a PR.

[2020-10-08 19:58] kellyjandrews commented on #363
Thanks @privateOmega - I'll be reviewing this soon.

[2020-10-12 14:06] #361 closed

[2020-10-12 16:57] #363 closed

[2020-10-15 10:26] #362 closed

[2020-10-20 17:58] danielglazer commented on #353
@kellyjandrews I understand that currently your typescript support is minimal and I would like to help fix that starting with this issue if possible :) what @baptistemarchand mentioned as a possible solution is 'A common technique' according to the [ts-handbook](https://www.typescriptlang.org/docs/handbook/unions-and-intersections.html#discriminating-unions). Please update me if I can make PR for

[2020-10-20 23:39] kellyjandrews commented on #353
@danielglazer If you would like to submit something, that would be great. My main priority is writing a new version that moves types directly into the code base and sorts out most of these problems - but it would help v2. Appreciate any help you can offer.

[2020-10-31 13:23] danielglazer commented on #353
I think that this issue can be closed now since the #398 PR was merged. Thanks, @kellyjandrews

[2020-11-02 15:59] #353 closed

[2020-11-20 15:11] #377 closed

[2020-11-24 15:47] larssn opened #416 "Batch SMS'es"
Not a bug, more like a feature request.

So the API pretty clearly states that only one SMS can be sent per request, and that you can only do 30 requests per second.
[This](https://help.nexmo.com/hc/en-us/articles/205065817-How-to-Send-Multiple-SMS-in-a-Single-API-Request) article regarding multiple SMS'es, suggests using keep-alive connections to minimize HTTP handshakes.

Now I'm pretty sure tha

[2020-11-24 16:30] kellyjandrews commented on #416
I'm currently working on a v3 that will change much of the SDK - and this is definitely a use case I'm planning to cover.

Unfortunately, the current SDK doesn't allow for additional headers to be passed in as options through the `sendSMS` method. It may be possible to use the `HTTPClient` directly, but it's less than ideal.

[2020-11-24 16:35] #364 closed

[2020-12-20 11:15] DiegoMGar opened #429 "typings index.d.ts failing transpilation, needs an ts-ignore bypass."
Using @vonage/server-sdk with typescript doesn't transpile without an unrecommended bypass, but then it doesn't work at all.

## Expected Behavior
The expected behavior is to use the package without ts notations

## Current Behavior
The current behavior is the next.
[code]

[code]

## Context
Now it needs to be used with this ts notations:
[code]

## Your Environment
* SDK Version:  "2.10.4"
* Nod

[2020-12-20 11:20] DiegoMGar commented on #429
I'm editing the main post, it works with ts notations. Nulling the opts, even when documented as optional, throws fatal error. But works with an empty object.
[code]

[2021-01-04 17:24] kellyjandrews commented on #429
@DiegoMGar would you be able to share your `.tsconfig` with me? I'd like to better understand the problem on my end.  Thanks!

[2021-02-22 15:55] visioncored commented on #429
@kellyjandrews I also encountered this issue when I was trying out the SMS API in Firebase Cloud Functions. Here is the .tsconfig from my end.

`
{
  "compilerOptions": {
    "module": "commonjs",
    "noImplicitReturns": true,
    "noUnusedLocals": true,
    "outDir": "lib",
    "sourceMap": true,
    "strict": true,
    "target": "es2017"
  },
  "compileOnSave": true,
  "include": [
    "src"

[2021-02-23 19:29] kellyjandrews commented on #429
I have a PR coming in shortly that should fix this after release.

[2021-02-25 19:57] kellyjandrews commented on #429
@visioncored - you may also need to add the following config:

[code]

I just about have things fixed up.

[2021-03-04 15:01] #429 closed

[2021-03-18 15:55] akhlopotin opened #473 "users{} method does not exist any longer"
pls include users{} method back in the prod release

[2021-03-18 18:12] kellyjandrews commented on #473
Hi @akhlopotin - the `users` class is a `BETA` feature.  You can get the beta using `npm install @vonage/server-sdk@beta`. A previous beta release was mistagged and released as `latest`.

Sorry for the confusion!

[2021-03-18 18:12] #473 closed

[2021-05-02 16:39] mheap opened #496 "Unexpected `console.log` when sending message"
## Expected Behavior
No output logged to console

## Current Behavior
Output logged, including my authentication credentials

## Possible Solution
Remove https://github.com/Vonage/vonage-node-sdk/blob/2.x/src/Message.js#L73-L78

## Steps to Reproduce (for bugs)
Send an SMS with `vonage.message.sendSms`

## Your Environment
* SDK Version: 2.10.8
* Node Version: (e.g. Node 10.18): 16

[2021-05-10 14:07] kellyjandrews commented on #496
Thanks - I'll get this removed.

[2021-05-16 16:34] soullivaneuh opened #510 "Use promise instead of callback"
# Sumarry

This issue is a following of https://github.com/Vonage/vonage-node-sdk/issues/197.

Even if some workarounds is possible (e.g. https://github.com/Vonage/vonage-node-sdk/issues/197#issuecomment-409252927),
es6 promise is the current way to go on recent JavaScript environment.

I suggest to release a new major of this SDK, converting all callback function to ES6 promise system.

I think #

[2021-05-17 14:28] kellyjandrews commented on #510
Thanks for the feedback. I'm currently working on a version 3 that addresses all of these issues. I'm also open to pull requests for the v2.x branch line.

[2021-05-18 13:24] #496 closed

[2021-06-10 09:34] soulchild commented on #245
I see that you're using the `request` library which has pretty solid proxy support out-of-the-box and should automatically honor the usual environment variables, like `HTTPS_PROXY`. Are there any specific reasons why this is not working, @AlexLakatos, @kellyjandrews?

[2021-06-10 15:13] kellyjandrews commented on #245
@soulchild I've inherited this - so not exactly sure why things are the way they are.  I have a new version that will hopefully be out Q3.

[2021-06-10 15:13] #245 closed

[2021-06-16 10:15] tapz opened #532 "HTTP request logged when sending SMS"
## Expected Behavior
Nothing is automatically logged.

## Current Behavior
Logs the http request with api secret and message content.

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

[code]

## Context

## Your Environment

* SDK Version: 2.10.8
* Node Version: (e.g. Node 10.18): 14.16.1
* Operating System and version: Linux

[2021-06-19 12:03] mrfambo opened #533 "Not working in Typescript Build"
`@vonage/server-sdk` is not working in typescript build

## Expected Behavior
[code]
Needs to work in typescript build too. Not just in TS environment.

## Current Behavior
The code is fine in typescript, but when build is created it makes the following JS code:

[code]
Then the build gives the following error in production(running js code):

`Cloud Function TypeError: server_sdk_1.default is not

[2021-06-19 16:55] bbmouka opened #534 "Unable to resolve path to module '@vonage/server-sdk' import/no-unresolv version 2.10.9"
`@vonage/server-sdk`  import/no-unresolv

with  `"eslint-plugin-import": "^2.22.1"`

The solution is to update package in your package.json "@vonage/server-sdk": "^2.10.8" with "@vonage/server-sdk": "2.10.8",

_=>delete  `^`_

[2021-06-19 16:58] bbmouka commented on #533
The same with js EsLint

https://github.com/Vonage/vonage-node-sdk/issues/534

the temporary solution is to fix your package to `2.10.8` in your pacage.json

[2021-06-20 21:53] amdcavallaro opened #535 "2.10.9 missing /lib folder"
`2.10.9` missing `/lib` folder.

## Expected Behavior
`node_modules/@vonage/server-sdk` should have `/lib` folder.

## Current Behavior
`node_modules/@vonage/server-sdk` is missing a `/lib` folder.

## Possible Solution
Copy the existing `/lib` folder from version `2.10.8` to `2.10.9`.

## Steps to Reproduce (for bugs)
1.npm install @vonage/server-sdk
2.You'll get an error `"Error: Cannot find mod

[2021-06-21 01:45] dragonmantank commented on #535
Thanks for alerting about this. 2.10.10 should be valid. For some reason when 2.10.9 was published, the compile step did not run or ran into an error, yet the package was still pushed out.

I'll leave this open for a bit in case anything else pops up, but try jumping to 2.10.10 and see if that works.

[2021-07-07 14:23] #535 closed

[2021-07-07 14:23] kellyjandrews commented on #533
This should be resolved in 2.10.10

[2021-07-07 14:23] #533 closed

[2021-07-07 14:23] kellyjandrews commented on #534
This should be resolved in 2.10.10

[2021-07-07 14:23] #534 closed

[2021-07-07 14:24] kellyjandrews commented on #532
Fixed in 2.10.10

[2021-07-07 14:24] #532 closed

[2021-08-20 14:30] shihabuddin commented on #533
I am using `2.10.10`, but still getting this error. Which commit fixes this issue? I would like to check if the commit exists in my local version.

[2021-08-24 14:00] kellyjandrews commented on #533
@shihabuddin sorry to hear that - it seems to compile ok for me - but could you share your `tsconfig` as well? This version is still sort of a mess with typescript, and I'm focused more on replacing, but can continue to update the types here to hopefully keep you rolling.

[2021-08-24 15:15] kellyjandrews commented on #533
@shihabuddin Thanks - I'll take a look and see if I can figure it out. My typescript is still a bit shaky. PRs with solutions also welcome - sorry for the troubles :(

[2021-08-25 11:00] shihabuddin commented on #533
@kellyjandrews Thanks. I have submitted a PR with the changes that works for me.

[2021-08-25 12:06] kellyjandrews commented on #533
@shihabuddin I will take a look today/tomorrow - my main concern is that we had it that way before, and had similar issues with imports. I want to check a bit on my side and see if there is a setting that fixes this, or if the changes you added require something specific in the config to prevent issues. Thanks for your help.

[2021-08-30 14:39] kellyjandrews commented on #533
@shihabuddin I've used the following and had no issues with the current version (2.10.9 is the same as 2.10.10 - I need to go tag that properly).

[code]
At this time, I'm going to keep things as they are so there isn't any potential regression on this.

[2021-09-13 07:40] shihabuddin commented on #533
Thanks @kellyjandrews. Using `esModuleInterop` solved the problem for me.

[2021-11-29 17:28] gocandra opened #575 "following SMS tutorial inbound messages do not appear on message logs, and don't activate callback"
[code]

basically i'm sending an sms to  my phone, and when I answer the webhook is not activated.
i've set up the webhook in my number
i've setup the webhook on my application

[2021-11-30 17:54] kellyjandrews commented on #575
I'll take a look at this and see what is wrong - doesn't look wrong to me so far - but I may be missing something.

[2022-01-05 14:57] kellyjandrews commented on #575
@gocandra - are the webhooks publicly accessible? And is the global webhook type set to `get`?  Other than that, I'm not sure - hope you got things working.

[2022-01-05 14:57] #575 closed

[2022-01-18 16:36] lf94 opened #595 "callback is undefined in _checkToAndFrom(data)."
https://github.com/Vonage/vonage-node-sdk/blob/e1bb7fc6f7b7c0f6f3d5ab6e1dc57301c5d6325f/src/Message.js#L45

`callback` is undefined here.

Hire me and I'll fix it :)

[2022-02-17 11:55] speak-jure opened #613 "Property 'calls' does not exist on type 'Vonage'"
### Issue
Vonage in relation to Typescript.
After initializing a Vonage object, the `calls` property is not recognized as being part of the object, since it's not defined in `d.ts`.
### Code
[code]
### Error
The `calls` in `vonage.calls.create` is underlined and specifies the following problem: `Property 'calls' does not exist on type 'Vonage'.`
### Request
Is there any short-term plan on adding t

[2022-02-28 23:15] ecwyne opened #615 "SMS Not being delivered (inbound or outbound)"
I've tried submitting a support ticket, reaching out on twitter, calling every Vonage support number and nobody is able to  look into this.

[2022-03-14 14:25] #615 closed

[2022-03-14 16:03] kellyjandrews commented on #595
Fixed here https://github.com/Vonage/vonage-node-sdk/commit/9df58ca9dd8ceccde7a6bbf85bc6db8eef197e61

[2022-03-15 16:18] FatmaMahmoud698 opened #632 "can't install the package with yarn or npm"
I tried to install the package on nodejs project with
`yarn add @vonage/server-sdk`
and
`yarn add https://github.com/Vonage/vonage-node-sdk`
but no folder created on node_modules for the package
I got this message in installation
![1](https://user-images.githubusercontent.com/75572871/158423126-34a04386-6e23-419a-a230-1c3a8ff1efbb.PNG)

![1](https://user-images.githubusercontent.com/75572871/15842

[2022-03-15 16:31] kellyjandrews commented on #632
Looks like something has become incompatible with the environment - I will try to investigate and see what the package is and try to get it updated for you.

[2022-03-29 14:48] ChBernat commented on #429
@kellyjandrews enums should never be included in *.d.ts files.
Typescript does not transpile *.d.ts files.

Any enum inside the *.d.ts will be ultimately unresolvable for Javascript and it won't be bundled in the final build.

The fast/dirty workaround for this is to make enums const, but that has some drawbacks on its own.

[2022-04-06 01:30] dan1229 opened #640 "Property 'users' does not exist on type 'Vonage'"
I'm currently trying to implement this SDK, I have everything working however I need to add the code to create users dynamically rather than use the one I created via the command line.

## Expected Behavior
According to the [code snippets](https://github.com/vonage/vonage-node-code-snippets/blob/master/conversation/user/create-user.js#L10-L17) the following should allow me to create a user:

[code

[2022-04-06 03:11] dan1229 commented on #640
Only available in beta (had an issue with my lockfile so it wasnt actually using that version earlier when I tried)

`npm install @vonage/server-sdk@beta`

[2022-04-06 03:11] #640 closed

[2022-05-11 13:23] eljass opened #649 "RequestResponseStatusCode enum is wrong in types"
## Expected Behavior

We are expecting the enums [here](RequestResponseStatusCode) to match status codes on https://api.support.vonage.com/hc/en-us/articles/360025561931-What-do-the-Verify-API-response-codes-mean-

## Current Behavior

Currently the status codes are wrong in:
[code]

## Possible Solution

Update the typings:
[code]

To make this even better, these enums could be exported in a .ts

[2022-05-14 01:55] lawrenceong commented on #294
@mheap Is there another SDK other than this?  Looks like this SDK is still using the requests library.

[2022-08-19 08:24] webpipl opened #690 "can not read property send of undefined for latest version"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
1.
1.
1.

## Context

## Your Environment

* SDK Version:
* Node Version: (e.g. Node 10.18):
* Operating System and version:

[2022-11-09 22:04] manchuck commented on #78
@cbetta If you update to V3, we are throwing errors as we have migrated to using promises. This should no longer be an issue for you.

[2022-11-09 22:04] #78 closed

[2022-11-09 22:09] #510 closed

[2022-11-09 22:09] #360 closed

[2022-11-09 22:09] #359 closed

[2022-11-09 22:12] #198 closed

[2022-11-09 22:14] #122 closed

[2022-11-09 22:14] #108 closed

[2022-11-11 08:17] cowchimp commented on #510
@manchuck Can you link to the migration guide please?

[2022-11-11 15:13] manchuck commented on #510
@cowchimp Here is what was committed: https://github.com/Vonage/vonage-node-sdk/blob/3.x/packages/verify/v2_TO_v3_MIGRATION_GUIDE.md

There was a typo that is addressed in #726

We are also working on updating the [code snippets](https://github.com/Vonage/vonage-node-code-snippets) and the docs at [documentation](https://developer.vonage.com/documentation)

If you have any other issues or question

[2022-11-11 16:54] pardel commented on #78
@cbetta better late than never ;)

[2022-11-22 15:19] dragonmantank opened #739 "Make sure that URL Overrides strip ending `/` from URLs"
## Expected Behavior

According to https://developer.vonage.com/messages/code-snippets/whatsapp/send-text, you can set the base URL for the API to `https://api.nexmo.com/`, with a trailing slash. This breaks the routing as the SDK expects the URL without a `/` at the end.

## Current Behavior

We should allow the user to enter a URL with or without a slash, and strip it if it exists.

## Possible

[2022-11-22 16:00] manchuck commented on #613
@speak-jure Can you update V3 of the SDK and LMK if you still have an issue?

[2022-11-22 16:06] manchuck commented on #233
@fauna5 Version 3 of the SDK was deployed, and sending an SMS now requires an SMS Parameters object to be passed instead. You can install `@vonage/sms` or update the latest SDK to try it out. FYI that V3 of the SDK is all `async` now, so the uplift might be a lot.

[2022-11-22 16:06] #233 closed

[2022-11-22 16:08] manchuck commented on #649
@eljass V3 of the SDK should now have the correct types. Can you please check if you're still having an issue?

[2022-11-22 16:20] manchuck commented on #632
@FatmaMahmoud698 Can you confirm if you are still having this issue? It looks like the dependant module has been updated to support your system

[2022-11-23 08:47] fmasclef opened #740 "Argument of type '{ apiKey: string; apiSecret: string; }' is not assignable to parameter of type 'AuthInterface'"
Migrating from v2, I can't instantiate a Vonage object. From README.md :

[code]

To suit our coding guidelines, I use:

[code]

I can't transpile with the following Typescript error:

[code]

## Expected Behavior

By the doc, Typescript shouldn't complain and transpile.

## Current Behavior

It's not working mate :(

## Possible Solution

???

## Steps to Reproduce (for bugs)

Copy paste code I p

[2022-11-23 13:39] Kirween commented on #740
Based on the Typescript declaration, this should work

[code]

[2022-11-23 14:22] fmasclef commented on #740
Thanks @Kirween. This obviously works.
Someone to fix the README.md?

[2022-11-23 18:24] Kirween commented on #740
It would be better to fix the type of the first parameter of the constructor

https://github.com/Vonage/vonage-node-sdk/blob/40ea2c74cc83ac78f46901c7fccff4213d1ffccc/packages/server-sdk/lib/vonage.ts#L28-L37

Should be

[code]

[2022-11-24 14:51] maximelebastard opened #742 "Some typescript types are wrong"
## Expected Behavior
I follow the documentation and the types to implement Vonage SMS sendings. I'd like to rely on them.
I have two basic examples that don't work:

A/ The Authentication

The getting started on the console is the following to send a basic SMS

<img width="975" alt="Capture d’écran 2022-11-24 à 15 36 42" src="https://user-images.githubusercontent.com/6564357/203812500-dd411070-f

[2022-11-24 19:16] maximelebastard commented on #742
I'd like to add that on the console, the method to use to send an SMS is

[code]

this method does not exists in this library.

The proper method to use seems to be

[code]

Maybe the console should provide a link to the repository for better accuracy of the documentation ? :)

[2022-11-25 15:43] dragonmantank commented on #742
Sorry about this. The code snippets on the dashboard are supposed to update automatically, but they don't seem to be anymore. I'll reach out to our dashboard team to see what needs to be fixed. The getting started examples are for JavaScript and not TypeScript, so there are some things that the snippets allow you to do in JS that may be different in TS.

The current code snippet is: https://github

[2022-11-26 03:12] dragonmantank commented on #740
The issue is not the constructor, but the differences between JS and TS enforcing code.

Our code snippets are for JavaScript, which lets us have users pass in a similar credentials structure from previous versions. We then convert that into an `Auth` object internally. This is a convenience that JS affords us.

For TypeScript, we require you to pass in an `Auth` object. At the moment while we hav

[2022-11-30 17:21] dragonmantank commented on #742
@maximelebastard These definitions are corrected in the latest release. I kept the unmodified versions in just and marked them as deprecated so you shouldn't have to change any code, unless your compiler complains about using deprecated properties.

[2022-11-30 17:21] #742 closed